MCG/REFERENCIA/BUS/ITEL/RTC/Resources/WSDLs/provisionSPR_RTC.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://hpspr.hp.com/web/services" xmlns:intf="http://hpspr.hp.com/web/services"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://hpspr.hp.com/web/services">

	<wsdl:message name="submitSubscriberRequestResponse">
		<wsdl:part name="xmlResponse" type="xsd:string" />
	</wsdl:message>
	<wsdl:message name="submitSubscriberRequestRequest">
		<wsdl:part name="xmlSubscriberRequest" type="xsd:string" />
	</wsdl:message>
	<wsdl:message name="submitCatalogRequestRequest">
		<wsdl:part name="xmlCatalogRequest" type="xsd:string" />
	</wsdl:message>
	<wsdl:message name="submitCatalogRequestResponse">
		<wsdl:part name="xmlResponse" type="xsd:string" />
	</wsdl:message>
	<wsdl:portType name="HpSprPublicMethods">
		<wsdl:operation name="submitSubscriberRequest"
			parameterOrder="xmlSubscriberRequest">
			<wsdl:input message="impl:submitSubscriberRequestRequest"
				name="submitSubscriberRequestRequest" />
			<wsdl:output message="impl:submitSubscriberRequestResponse"
				name="submitSubscriberRequestResponse" />
		</wsdl:operation>
		<wsdl:operation name="submitCatalogRequest"
			parameterOrder="xmlCatalogRequest">
			<wsdl:input message="impl:submitCatalogRequestRequest"
				name="submitCatalogRequestRequest" />
			<wsdl:output message="impl:submitCatalogRequestResponse"
				name="submitCatalogRequestResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HpSprPublicMethodsSoapBinding" type="impl:HpSprPublicMethods">
		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="submitSubscriberRequest">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="submitSubscriberRequestRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://hpspr.hp.com/web/services" use="encoded" />
			</wsdl:input>
			<wsdl:output name="submitSubscriberRequestResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://hpspr.hp.com/web/services" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="submitCatalogRequest">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="submitCatalogRequestRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://hpspr.hp.com/web/services" use="encoded" />
			</wsdl:input>
			<wsdl:output name="submitCatalogRequestResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://hpspr.hp.com/web/services" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HpSprPublicMethodsService">
		<wsdl:port binding="impl:HpSprPublicMethodsSoapBinding"
			name="HpSprPublicMethods">
			<wsdlsoap:address
				location="http://192.168.228.179:8095/ium-spr/servlet/IUMServlet" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>