MCG/REFERENCIA/BUS/ITEL/Trama101/Resources/WSDLs/calcularProvisionTrama101_PS.WSDL

<wsdl:definitions name="calcularProvisionTrama101_PS" targetNamespace="http://www.comcel.com.co/calcularProvisionTrama101_PS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.comcel.com.co/calcularProvisionTrama101_PS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.comcel.com.co/CalcularProvisionTrama101/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.comcel.com.co/calcularProvisionTrama101_PS/">
      <xsd:element name="calcularProvisionTrama406">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="calcularProvisionTrama406Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema>
    	<xsd:import namespace="http://www.comcel.com.co/CalcularProvisionTrama101/" schemaLocation="../Schemas/PS_ITEL_CALCULARPROVISIONTRAMA101.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="calcularProvisionTrama101Request">
    <wsdl:part element="xsd1:Input_Parameters" name="Input_Parameters"/>
  </wsdl:message>
  <wsdl:message name="calcularProvisionTrama101Response">
    <wsdl:part element="xsd1:WS_Result" name="WS_Result"/>
  </wsdl:message>
  <wsdl:portType name="calcularProvisionTrama101_PS">
    <wsdl:operation name="calcularProvisionTrama101">
      <wsdl:input message="tns:calcularProvisionTrama101Request"/>
      <wsdl:output message="tns:calcularProvisionTrama101Response"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="calcularProvisionTrama101_PSSOAP" type="tns:calcularProvisionTrama101_PS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="calcularProvisionTrama101">
      <soap:operation soapAction="http://www.comcel.com.co/calcularProvisionTrama101_PS/calcularProvisionTrama101"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="calcularProvisionTrama101_PS">
    <wsdl:port binding="tns:calcularProvisionTrama101_PSSOAP" name="calcularProvisionTrama101_PSSOAP">
      <soap:address location="http://www.comcel.com.co/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>