MCG/REFERENCIA/BUS/ITEL/Trama100/Resources/Schemas/PS_ITEL_CONSULTARREGLASTRAMA100.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.comcel.com.co/ConsultarReglasTrama100/"
	xmlns:tns="http://www.comcel.com.co/ConsultarReglasTrama100/">
	<xs:element name="Input_Parameters" type="tns:Input_Paramaters" />
	<xs:element name="WS_Result" type="tns:WS_Result" />

	<xs:complexType name="Input_Paramaters">
		<xs:sequence>
			<xs:element name="HEADER" type="tns:headerType" />
			<xs:element name="PARAMETERS" type="tns:parametersType" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="WS_Result">
		<xs:sequence>
			<xs:element name="CODIGO" type="xs:string" />
			<xs:element name="MENSAJE" type="tns:resultadoType" />
			<xs:element name="DESCRIPCION" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="headerType">
		<xs:sequence>
			<xs:element name="METODO" type="xs:string" />
			<xs:element name="MIN" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="parametersType">
		<xs:sequence>
			<xs:element name="CATEGORIA" type="xs:decimal" />
			<xs:element name="CARGAINICIAL" type="xs:decimal" />
			<xs:element name="BLOQUEA" type="xs:decimal" />
			<xs:element name="ESPOSTPAGO" type="xs:string" />
			<xs:element name="VIGENCIA" type="xs:decimal"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="resultadoType">
		<xs:sequence>
			<xs:element name="ERROR" type="xs:string" nillable="true" />
			<xs:element name="CONSULTASUSCRIPTOR" type="xs:string" nillable="false"/>
			<xs:element name="CARGAINICIAL" type="xs:decimal"
				nillable="true" />
				<xs:element name="CREACONBLOQUEO" type="xs:string" nillable="false"/> 
			<xs:element name="CREACONCARGAINICIAL" type="xs:string" nillable="true" />
			<xs:element name="CARGADIFERIDA" type="xs:string" />
			<xs:element name="MESESADIFERIR" type="xs:decimal" />
			<xs:element name="VIGENCIA_CARGA" type="xs:decimal"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>