ACGR/PRACTICAS/12c/P01/PCO_OSB_CadenaEntradaSalida/SBApplication_PCO_CadenaEntradaSalida03/SBProject_PCO_CadenaEntradaSalida03/Recursos/XMLSchema/Firma03.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bebe03.org"
            targetNamespace="http://www.bebe03.org" elementFormDefault="qualified">
  <xsd:complexType name="RequestType">
    <xsd:sequence>
      <xsd:element name="variableCadenaEntrada" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseType">
    <xsd:sequence>
      <xsd:element name="variableCadenaSalida" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ositaRequest" type="RequestType"/>
  <xsd:element name="ositaResponse" type="ResponseType"/>
</xsd:schema>
