MCG/PCO_ORIGINALES/12c/122120/V002/OSB_PCO_000_Global/OSB_PCO_000_GlobalProject/.data/contentsets/FirmaCadenaEntradaSalida.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.osita.org"
            targetNamespace="http://www.osita.org" elementFormDefault="qualified">
  <xsd:complexType name="CadenaRequestType">
    <xsd:sequence>
      <xsd:element name="cadenaEntrada" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CadenaResponseType">
    <xsd:sequence/>
  </xsd:complexType>
</xsd:schema>
