MCG/REFERENCIA/BUS/ITEL/Trama705/Resources/WSDLs/calcularProvisionTrama705_PS.wsdl

<wsdl:definitions name="calcularProvisionTrama705_PS" targetNamespace="http://www.comcel.com.co/calcularProvisionTrama705_PS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.comcel.com.co/calcularProvisionTrama705_PS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.comcel.com.co/CalcularProvisionTrama705/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.comcel.com.co/calcularProvisionTrama705_PS/">
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.comcel.com.co/CalcularProvisionTrama705/" schemaLocation="../Schemas/PS_ITEL_CALCULARPROVISIONTRAMA705.xsd">
			</xsd:import>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="calcularProvisionTrama705Request">
		<wsdl:part element="xsd1:Input_Parameters" name="Input_Parameters"/>
	</wsdl:message>
	<wsdl:message name="calcularProvisionTrama705Response">
		<wsdl:part element="xsd1:WS_Result" name="WS_Result"/>
	</wsdl:message>
	<wsdl:portType name="calcularProvisionTrama705_PS">
		<wsdl:operation name="calcularProvisionTrama705">
			<wsdl:input message="tns:calcularProvisionTrama705Request"/>
			<wsdl:output message="tns:calcularProvisionTrama705Response"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="calcularProvisionTrama705_PSSOAP" type="tns:calcularProvisionTrama705_PS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="calcularProvisionTrama705">
			<soap:operation soapAction="http://www.comcel.com.co/calcularProvisionTrama705_PS/calcularProvisionTrama705"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="calcularProvisionTrama705_PS">
		<wsdl:port binding="tns:calcularProvisionTrama705_PSSOAP" name="calcularProvisionTrama705_PSSOAP">
			<soap:address location="http://www.comcel.com.co/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>