MCG/REFERENCIA/BUS/ITEL/Trama303/Resources/WSDLs/calcularProvisionTrama303_PS.wsdl

<wsdl:definitions name="calcularProvisionTrama303_PS" targetNamespace="http://www.comcel.com.co/calcularProvisionTrama303_PS/" xmlns="http://www.comcel.com.co/calcularProvisionTrama303_PS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.comcel.com.co/CalcularProvisionTrama303/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.comcel.com.co/calcularProvisionTrama303_PS/">
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.comcel.com.co/CalcularProvisionTrama303/" schemaLocation="../Schemas/PS_ITEL_CALCULARPROVISIONTRAMA303.xsd">
			</xsd:import>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="calcularProvisionTrama303Request">
		<wsdl:part element="xsd1:Input_Parameters" name="Input_Parameters"/>
	</wsdl:message>
	<wsdl:message name="calcularProvisionTrama303Response">
		<wsdl:part element="xsd1:WS_Result" name="WS_Result"/>
	</wsdl:message>
	<wsdl:portType name="calcularProvisionTrama303_PS">
		<wsdl:operation name="calcularProvisionTrama303">
			<wsdl:input message="calcularProvisionTrama303Request"/>
			<wsdl:output message="calcularProvisionTrama303Response"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="calcularProvisionTrama303_PSSOAP" type="calcularProvisionTrama303_PS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="calcularProvisionTrama303">
			<soap:operation soapAction="http://www.comcel.com.co/calcularProvisionTrama303_PS/calcularProvisionTrama303"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="calcularProvisionTrama303_PS">
		<wsdl:port binding="calcularProvisionTrama303_PSSOAP" name="calcularProvisionTrama303_PSSOAP">
			<soap:address location="http://www.comcel.com.co/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>