ACGR/PRACTICAS/11g/P01/EjercicioOperacionesMatematicas/OSB_PCO_000/Recursos/Contratos_WSDL/Matematicas01/ContratoOperandos01.wsdl

<wsdl:definitions name="ContratoOperandos01" targetNamespace="http://www.contratoMatematicas01.org/ContratoOperandos01/" xmlns:mat="http://www.contratoMatematicas01.org/ContratoOperandos01/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd1="http://www.firmaMatematicas.org/FirmaOperandos" xmlns:xsd2="http://www.example.org/FirmaOperando01" xmlns:xsd3="http://www.firmaMatematicas01.org/FirmaOperando01">
    <wsdl:types><xsd:schema targetNamespace="http://www.matematicasContrato.org/ContratoOperandos01/">
    </xsd:schema>
    	<xsd:schema>
    		<xsd:import namespace="http://www.firmaMatematicas01.org/FirmaOperando01" schemaLocation="../../Firmas_XSD/Matematicas01/FirmaOperando01.xsd">
    		</xsd:import></xsd:schema></wsdl:types>
    <wsdl:message name="operacionSumaRequest">
    	<wsdl:part name="parameters" element="xsd3:operacionSumaRequest">
    	</wsdl:part>
    </wsdl:message>
    <wsdl:message name="operacionSumaResponse">
    	<wsdl:part name="parameters" element="xsd3:operacionSumaResponse"/>
    </wsdl:message>
    <wsdl:message name="operacionRestaRequest">
    	<wsdl:part name="parameters" element="xsd3:operacionRestaRequest"/>
    </wsdl:message>
    <wsdl:message name="operacionRestaResponse">
    	<wsdl:part name="parameters" element="xsd3:operacionRestaResponse">
    	</wsdl:part>
    </wsdl:message>
    <wsdl:message name="operacionMultiplicacionRequest">
    	<wsdl:part name="parameters" element="xsd3:operacionMultiplicacionRequest"/>
    </wsdl:message>
    <wsdl:message name="operacionMultiplicacionResponse">
    	<wsdl:part name="parameters" element="xsd3:operacionMultiplicacionResponse"/>
    </wsdl:message>
    <wsdl:message name="operacionDivisionRequest">
    	<wsdl:part name="parameters" element="xsd3:operacionDivisionRequest"/>
    </wsdl:message>
    <wsdl:message name="operacionDivisionResponse">
    	<wsdl:part name="parameters" element="xsd3:operacionDivisionResponse"/>
    </wsdl:message>
    <wsdl:portType name="puertoTipoMatematicas">

        <wsdl:operation name="operacionSuma">
        	<wsdl:input message="mat:operacionSumaRequest"/>
        	<wsdl:output message="mat:operacionSumaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="operacionResta">
        	<wsdl:input message="mat:operacionRestaRequest"/>
        	<wsdl:output message="mat:operacionRestaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="operacionMultiplicacion">
        	<wsdl:input message="mat:operacionMultiplicacionRequest"/>
        	<wsdl:output message="mat:operacionMultiplicacionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="operacionDivision">
        	<wsdl:input message="mat:operacionDivisionRequest"/>
        	<wsdl:output message="mat:operacionDivisionResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BindingMatematicas"
    	type="mat:puertoTipoMatematicas">
    	<wsdl:documentation></wsdl:documentation>
    	<soap:binding style="document"
    		transport="http://schemas.xmlsoap.org/soap/http" />
    	<wsdl:operation name="operacionSuma">
    		<soap:operation
    			soapAction="http://www.contratoMatematicas01.org/ContratoOperandos01/operacionSuma" />
    		<wsdl:input>
    			<soap:body use="literal" />
    		</wsdl:input>
    		<wsdl:output>
    			<soap:body use="literal" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="operacionResta">
    		<soap:operation
    			soapAction="http://www.contratoMatematicas01.org/ContratoOperandos01/operacionResta" />
    		<wsdl:input>
    			<soap:body use="literal" />
    		</wsdl:input>
    		<wsdl:output>
    			<soap:body use="literal" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="operacionMultiplicacion">
    		<soap:operation
    			soapAction="http://www.contratoMatematicas01.org/ContratoOperandos01/operacionMultiplicacion" />
    		<wsdl:input>
    			<soap:body use="literal" />
    		</wsdl:input>
    		<wsdl:output>
    			<soap:body use="literal" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="operacionDivision">
    		<soap:operation
    			soapAction="http://www.contratoMatematicas01.org/ContratoOperandos01/operacionDivision" />
    		<wsdl:input>
    			<soap:body use="literal" />
    		</wsdl:input>
    		<wsdl:output>
    			<soap:body use="literal" />
    		</wsdl:output>
    	</wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ServicioMatatematicas02">
		<wsdl:port name="puertoMatematicas02" binding="mat:BindingMatematicas">
			<soap:address location="http://www.servicioMatematicas.org/"/>
		</wsdl:port>
	</wsdl:service></wsdl:definitions>