MCG/REFERENCIA/BUS/ITEL/Trama600/Resources/Schemas/BD_ITEL_ACTUALIZARMINELEGIDOS.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/SOA_TEST/PKG_SOA_ITEL/PRC_ACTUALIZAR_MIN_ELEGIDOS/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/SOA_TEST/PKG_SOA_ITEL/PRC_ACTUALIZAR_MIN_ELEGIDOS/" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_MIN" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_NUEVO_MIN" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>