MCG/REFERENCIA/BUS/ITEL/Trama409/Resources/WSDLs/calcularProvisionTrama409_PS.wsdl

<wsdl:definitions name="calcularProvisionTrama409_PS" targetNamespace="http://www.comcel.com.co/calcularProvisionTrama409_PS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.comcel.com.co/calcularProvisionTrama409_PS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.comcel.com.co/CalcularProvisionTrama409/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.comcel.com.co/calcularProvisionTrama409_PS/">
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.comcel.com.co/CalcularProvisionTrama409/" schemaLocation="../Schemas/PS_ITEL_CALCULARPROVISIONTRAMA409.xsd">
			</xsd:import>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="calcularProvisionTrama409Request">
		<wsdl:part element="xsd1:Input_Parameters" name="Input_Parameters"/>
	</wsdl:message>
	<wsdl:message name="calcularProvisionTrama409Response">
		<wsdl:part element="xsd1:WS_Result" name="WS_Result"/>
	</wsdl:message>
	<wsdl:portType name="calcularProvisionTrama409_PS">
		<wsdl:operation name="calcularProvisionTrama409">
			<wsdl:input message="tns:calcularProvisionTrama409Request"/>
			<wsdl:output message="tns:calcularProvisionTrama409Response"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="calcularProvisionTrama409_PSSOAP" type="tns:calcularProvisionTrama409_PS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="calcularProvisionTrama409">
			<soap:operation soapAction="http://www.comcel.com.co/calcularProvisionTrama409_PS/calcularProvisionTrama409"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="calcularProvisionTrama409_PS">
		<wsdl:port binding="tns:calcularProvisionTrama409_PSSOAP" name="calcularProvisionTrama409_PSSOAP">
			<soap:address location="http://www.comcel.com.co/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>