MCG/PCO_ORIGINALES/11g/V01/PCO_006/OSB/Resources/WSDL/ContratoServicioGeneral.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/ContratoServicioGeneral/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ContratoServicioGeneral" targetNamespace="http://www.example.org/ContratoServicioGeneral/" xmlns:xsd1="http://www.example.org/FirmaServicioGeneral">
    <wsdl:types><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/ContratoServicioGeneral/">
	<xsd:element name="miOperacionVerificarPermisoUsuario">
		<xsd:complexType>
			<xsd:sequence>

				<xsd:element name="in" type="xsd:string"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="miOperacionVerificarPermisoUsuarioResponse">
		<xsd:complexType>
			<xsd:sequence>

				<xsd:element name="out" type="xsd:string"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element></xsd:schema>
    	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    		<xsd:import
    			namespace="http://www.example.org/FirmaServicioGeneral"
    			schemaLocation="../Schemas/FirmaServicioGeneral.xsd">
    		</xsd:import></xsd:schema></wsdl:types>
    <wsdl:message name="miOperacionVerificarPermisoUsuarioRequest">
    	<wsdl:part name="parameters"
    		element="xsd1:firmaServicioGeneralRequest">
    	</wsdl:part>
    </wsdl:message>
    <wsdl:message name="miOperacionVerificarPermisoUsuarioResponse">
    	<wsdl:part name="parameters"
    		element="xsd1:firmaServicioGeneralResponse">
    	</wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ContratoPortType">
    	<wsdl:operation name="miOperacionVerificarPermisoUsuario">
    		<wsdl:input message="tns:miOperacionVerificarPermisoUsuarioRequest"></wsdl:input>
    		<wsdl:output message="tns:miOperacionVerificarPermisoUsuarioResponse"></wsdl:output>
    	</wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ContratoBinding" type="tns:ContratoPortType">
    	<soap:binding style="document"
    		transport="http://schemas.xmlsoap.org/soap/http" />
    	<wsdl:operation name="miOperacionVerificarPermisoUsuario">
    		<soap:operation
    			soapAction="http://www.example.org/ContratoServicioGeneral/miOperacionVerificarPermisoUsuario" />
    		<wsdl:input>
    			<soap:body use="literal" />
    		</wsdl:input>
    		<wsdl:output>
    			<soap:body use="literal" />
    		</wsdl:output>
    	</wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ContratoService">
    	<wsdl:port name="ContratoPort" binding="tns:ContratoBinding">
    		<soap:address location="http://www.example.org/" />
    	</wsdl:port>
    </wsdl:service>
</wsdl:definitions>
