MCG/REFERENCIA/BUS/ITEL/Trama308/Resources/WSDLs/calcularProvisionTrama308_PS.WSDL

<wsdl:definitions name="calcularProvisionTrama308_PS" targetNamespace="http://www.comcel.com.co/calcularProvisionTrama308_PS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.comcel.com.co/calcularProvisionTrama308_PS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.comcel.com.co/CalcularProvisionTrama308/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.comcel.com.co/calcularProvisionTrama308_PS/">
      <xsd:element name="calcularProvision">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="calcularProvisionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema>
    	<xsd:import namespace="http://www.comcel.com.co/CalcularProvisionTrama308/" schemaLocation="../Schemas/PS_ITEL_CALCULARPROVISIONTRAMA308.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="calcularProvisionTrama308Request">
    <wsdl:part element="xsd1:Input_Parameters" name="Input_Parameters"/>
  </wsdl:message>
  <wsdl:message name="calcularProvisionTrama308Response">
    <wsdl:part element="xsd1:WS_Result" name="WS_Result"/>
  </wsdl:message>
  <wsdl:portType name="calcularProvisionTrama308_PS">
    <wsdl:operation name="calcularProvisionTrama308">
      <wsdl:input message="tns:calcularProvisionTrama308Request"/>
      <wsdl:output message="tns:calcularProvisionTrama308Response"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="calcularProvisionTrama308_PSSOAP" type="tns:calcularProvisionTrama308_PS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="calcularProvisionTrama308">
      <soap:operation soapAction="http://www.comcel.com.co/calcularProvisionTrama308_PS/calcularProvisionTrama308"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="calcularProvisionTrama308_PS">
    <wsdl:port binding="tns:calcularProvisionTrama308_PSSOAP" name="calcularProvisionTrama308_PSSOAP">
      <soap:address location="http://www.comcel.com.co/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>