MCG/REFERENCIA/BUS/ITEL/Trama701/Resources/WSDLs/trama701Provision_DB.wsdl

<wsdl:definitions name="Trama701Provision_DF_Trama701Provision" targetNamespace="http://xmlns.oracle.com/Trama701Provision/Trama701Provision_DF_Trama701Provision" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.oracle.com/Trama701Provision/Trama701Provision_DF_Trama701Provision" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:java="http://schemas.xmlsoap.org/wsdl/java/" xmlns:format="http://schemas.xmlsoap.org/wsdl/formatbinding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rules="http://xmlns.oracle.com/bpel/rules" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
    <wsdl:types>
        <schema targetNamespace="http://xmlns.oracle.com/Trama701Provision/Trama701Provision_DF_Trama701Provision" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bpelpm="http://xmlns.oracle.com/bpel">
            <include schemaLocation="../Schemas/DF_ITEL_TRAMA701PROVISION_TYPES.xsd"/>
        </schema>
        <schema targetNamespace="http://xmlns.oracle.com/bpel/rules" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://xmlns.oracle.com/bpel/rules" xmlns:bpelpm="http://xmlns.oracle.com/bpel">
            <element name="int" type="xsd:int"/>
            <element name="double" type="xsd:double"/>
            <element name="string" type="xsd:string"/>
            <element name="boolean" type="xsd:boolean"/>
            <element name="byte" type="xsd:byte"/>
            <element name="short" type="xsd:short"/>
            <element name="long" type="xsd:long"/>
            <element name="float" type="xsd:float"/>
            <element name="integer" type="xsd:integer"/>
            <element name="decimal" type="xsd:decimal"/>
            <element name="dateTime" type="xsd:dateTime"/>
            <element name="duration" type="xsd:duration"/>
        </schema>
        <schema targetNamespace="http://xmlns.oracle.com/Trama701Provision/Trama701Provision_DF_Trama701Provision" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bpelpm="http://xmlns.oracle.com/bpel" xmlns:ns1="http://www.comcel.com.co/Ejecutador/">
            <import namespace="http://www.comcel.com.co/Ejecutador/" schemaLocation="../Schemas/BR_ITEL_TRAMA701PROVISION_FACT.xsd"/>
            <import namespace="http://xmlns.oracle.com/bpel/rules"/>
            <import namespace="http://xmlns.oracle.com/bpel"/>
            <element name="callFunctionStateless">
                <complexType>
                    <sequence>
                        <element name="configURL" type="string" minOccurs="0" maxOccurs="1"/>
                        <element name="bpelInstance" type="bpelpm:tBpelProcess" minOccurs="0" maxOccurs="1"/>
                        <element name="parameterList" minOccurs="1" maxOccurs="1">
                            <complexType>
                                <sequence>
                                    <element ref="ns1:TRAMA_EJECUCION"/>
                                </sequence>
                            </complexType>
                        </element>
                    </sequence>
                    <attribute name="name" type="NCName" use="required"/>
                </complexType>
            </element>
            <element name="callFunctionStatelessDecision">
                <complexType>
                    <sequence>
                        <element name="resultList" minOccurs="1" maxOccurs="1">
                            <complexType>
                                <sequence>
                                    <element ref="ns1:TRAMA_EJECUCION"/>
                                </sequence>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="callFunctionStateful">
                <complexType>
                    <sequence>
                        <element name="configURL" type="string" minOccurs="0" maxOccurs="1"/>
                        <element name="bpelInstance" type="bpelpm:tBpelProcess" minOccurs="0" maxOccurs="1"/>
                        <element name="parameterList" minOccurs="1" maxOccurs="1">
                            <complexType>
                                <sequence>
                                    <element ref="ns1:TRAMA_EJECUCION"/>
                                </sequence>
                            </complexType>
                        </element>
                    </sequence>
                    <attribute name="name" type="NCName" use="required"/>
                </complexType>
            </element>
            <element name="callFunctionStatefulDecision">
                <complexType>
                    <sequence>
                        <element name="resultList" minOccurs="1" maxOccurs="1">
                            <complexType>
                                <sequence>
                                    <element ref="ns1:TRAMA_EJECUCION"/>
                                </sequence>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="callFunctionStatelessMessage">
        <wsdl:part name="payload" element="tns:callFunctionStateless"/>
    </wsdl:message>
    <wsdl:message name="callFunctionStatelessDecisionMessage">
        <wsdl:part name="payload" element="tns:callFunctionStatelessDecision"/>
    </wsdl:message>
    <wsdl:message name="callFunctionStatefulMessage">
        <wsdl:part name="payload" element="tns:callFunctionStateful"/>
    </wsdl:message>
    <wsdl:message name="callFunctionStatefulDecisionMessage">
        <wsdl:part name="payload" element="tns:callFunctionStatefulDecision"/>
    </wsdl:message>
    <wsdl:message name="decisionServiceError">
        <wsdl:part name="payload" element="tns:errorInfo"/>
    </wsdl:message>
    <wsdl:portType name="IDecisionService">
        <wsdl:operation name="callFunctionStateless">
            <wsdl:input name="callFunctionStatelessInput" message="tns:callFunctionStatelessMessage"/>
            <wsdl:output name="callFunctionStatelessOutput" message="tns:callFunctionStatelessDecisionMessage"/>
            <wsdl:fault name="operationErroredFault" message="tns:decisionServiceError"/>
        </wsdl:operation>
        <wsdl:operation name="callFunctionStateful">
            <wsdl:input name="callFunctionStatefulInput" message="tns:callFunctionStatefulMessage"/>
            <wsdl:output name="callFunctionStatefulOutput" message="tns:callFunctionStatefulDecisionMessage"/>
            <wsdl:fault name="operationErroredFault" message="tns:decisionServiceError"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IDirectDecisionServiceBinding" type="tns:IDecisionService">
    	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    	<wsdl:operation name="callFunctionStateless">
    		<soap:operation soapAction="http://xmlns.oracle.com/Trama701Provision/Trama701Provision_DF_Trama701Provision/callFunctionStateless"/>
    		<wsdl:input name="callFunctionStatelessInput">
    			<soap:body use="literal"/>
    		</wsdl:input>
    		<wsdl:output name="callFunctionStatelessOutput">
    			<soap:body use="literal"/>
    		</wsdl:output>
    		<wsdl:fault name="operationErroredFault">
    			<soap:fault use="literal" name="operationErroredFault"/>
    		</wsdl:fault>
    	</wsdl:operation>
    	<wsdl:operation name="callFunctionStateful">
    		<soap:operation soapAction="http://xmlns.oracle.com/Trama701Provision/Trama701Provision_DF_Trama701Provision/callFunctionStateful"/>
    		<wsdl:input name="callFunctionStatefulInput">
    			<soap:body use="literal"/>
    		</wsdl:input>
    		<wsdl:output name="callFunctionStatefulOutput">
    			<soap:body use="literal"/>
    		</wsdl:output>
    		<wsdl:fault name="operationErroredFault">
    			<soap:fault use="literal" name="operationErroredFault"/>
    		</wsdl:fault>
    	</wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IDecisionServiceBinding" type="tns:IDecisionService">
    	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    	<wsdl:operation name="callFunctionStateless">
    		<soap:operation soapAction="http://xmlns.oracle.com/Trama701Provision/Trama701Provision_DF_Trama701Provision/callFunctionStateless"/>
    		<wsdl:input name="callFunctionStatelessInput">
    			<soap:body use="literal"/>
    		</wsdl:input>
    		<wsdl:output name="callFunctionStatelessOutput">
    			<soap:body use="literal"/>
    		</wsdl:output>
    		<wsdl:fault name="operationErroredFault">
    			<soap:fault use="literal" name="operationErroredFault"/>
    		</wsdl:fault>
    	</wsdl:operation>
    	<wsdl:operation name="callFunctionStateful">
    		<soap:operation soapAction="http://xmlns.oracle.com/Trama701Provision/Trama701Provision_DF_Trama701Provision/callFunctionStateful"/>
    		<wsdl:input name="callFunctionStatefulInput">
    			<soap:body use="literal"/>
    		</wsdl:input>
    		<wsdl:output name="callFunctionStatefulOutput">
    			<soap:body use="literal"/>
    		</wsdl:output>
    		<wsdl:fault name="operationErroredFault">
    			<soap:fault use="literal" name="operationErroredFault"/>
    		</wsdl:fault>
    	</wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WS_CalcularProvision">
    	<wsdl:port name="IDecisionService_pt" binding="tns:IDecisionServiceBinding">
    		<soap:address location="http://172.22.85.118:8003/soa-infra/services/ITEL/Trama701Provision/WS_CalcularProvision"/>
    	</wsdl:port>
    </wsdl:service>
    <wsdl:service name="DS_CalcularProvision">
    	<wsdl:port name="IDecisionService_pt" binding="tns:IDirectDecisionServiceBinding">
    		<soap:address location="t3://172.22.85.118:8003/soa-infra/services/ITEL/Trama701Provision/DS_CalcularProvision"/>
    	</wsdl:port>
    </wsdl:service>

</wsdl:definitions>