MCG/REFERENCIA/BUS/ITEL/Core/Resources/Schemas/BD_ITEL_CONSULTARDIASORPRESAELEGIDO.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/bd_consultarDiaSorpresaElegido" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/bd_consultarDiaSorpresaElegido" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
         	<element name="P_FECHA" type="date" db:index="1" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="P_TIPO" type="decimal" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_BONO" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_PLATAFORMA" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>