MCG/REFERENCIA/BUS/ITEL/Core/Resources/Schemas/BD_ITEL_ACTUALIZAR_PROMOPAQUETESTAT.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/SOA_TEST/PKG_SOA_ITEL/PRC_ACTUALIZAR_PROMOPAQTAT/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/SOA_TEST/PKG_SOA_ITEL/PRC_ACTUALIZAR_PROMOPAQTAT/" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_MIN" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_FECHABONO" type="dateTime" db:index="2" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="P_CODRTA" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_DESCRIPRTA" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_ESTADO" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_PAQUETE_ID" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>            
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_EXITO" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>            
         </sequence>
      </complexType>
   </element>
</schema>