MCG/REFERENCIA/BUS/ITEL/Core/Resources/Schemas/BD_ITEL_CONSULTAR_PAQUETES_TAT.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/bd_consultarPaquetesTAT" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/bd_consultarPaquetesTAT" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_CODIGO" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_VALOR" type="integer" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_HOSTID" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_COMENTARIO" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_TIPO" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>  
            <element name="P_NOTIFICACION" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_PAQUETES" type="db:PaqueteRowSet" db:index="7" db:type="RowSet" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PaqueteRowSet">
      <sequence>
         <element name="PAQUETE" minOccurs="0" maxOccurs="unbounded">
            <complexType>
               <sequence>
                  <element name="CODIGO_PAQUETE" db:type="VARCHAR2" maxOccurs="unbounded" nillable="true">
                     <simpleType>
                        <restriction base="string">
                           <maxLength value="60"/>
                        </restriction>
                     </simpleType>
                  </element>
                  <element name="PLATAFORMA" db:type="VARCHAR2" maxOccurs="unbounded" nillable="true">
                     <simpleType>
                        <restriction base="string">
                           <maxLength value="60"/>
                        </restriction>
                     </simpleType>
                  </element>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
</schema>