MCG/REFERENCIA/BUS/ITEL/Core/Resources/Schemas/BD_ITEL_INSERT_RTC_REQUESTERROR.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ITELSOA/PKG_SOA_ITEL/PRC_INSERT_RTCREQUEST_ERROR/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/ITELSOA/PKG_SOA_ITEL/PRC_INSERT_RTCREQUEST_ERROR/" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_MIN" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_FECHA" type="dateTime" db:index="2" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="P_RTCRESP" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_ESTADO" type="decimal" db:index="4" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_REINTENTOS" type="decimal" db:index="5" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_EXITO" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>