MCG/REFERENCIA/BUS/ITEL/Core/Resources/Schemas/PS_ITEL_CONSULTARPAQUETES.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.comcel.com.co/ConsultarPaquetes/"
	xmlns:tns="http://www.comcel.com.co/ConsultarPaquetes/">
	
	<xs:element name="Input_Parameters" type="tns:Input_Paramaters" />
	<xs:element name="WS_Result" type="tns:WS_Result" />

	<xs:complexType name="Input_Paramaters">
		<xs:sequence>
			<xs:element name="CODIGO" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="WS_Result">
		<xs:sequence>
			<xs:element name="CODIGO" type="xs:string" />
			<xs:element name="MENSAJE" type="tns:respuestaType" />
			<xs:element name="DESCRIPCION" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="respuestaType">
		<xs:sequence>
			<xs:element name="UNIDADES" type="xs:decimal" />
			<xs:element name="VIGENCIA" type="xs:decimal" />
			<xs:element name="VALOR" type="xs:decimal" />
			<xs:element name="CUENTA" type="xs:decimal" />
			<xs:element name="OFFEROLM" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>