MCG/REFERENCIA/BUS/ITEL/Core/Resources/Schemas/PS_ITEL_CONSULTARVIGENCIAELEGIDO_FIJO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.comcel.com.co/ConsultarVigenciaElegidoFijo/" 
	xmlns:tns="http://www.comcel.com.co/ConsultarVigenciaElegidoFijo/">
	<xs:element name="Input_Parameters" type="tns:Input_Paramaters" />
	<xs:element name="WS_Result" type="tns:WS_Result" />

	<xs:complexType name="Input_Paramaters">
		<xs:sequence>
			<xs:element name="MIN" type="xs:decimal" />
			<xs:element name="MIN_ELEGIDO" type="xs:decimal" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="WS_Result">
		<xs:sequence>
			<xs:element name="CODIGO" type="xs:string" />
			<xs:element name="MENSAJE" type="tns:MensajeType" />
			<xs:element name="DESCRIPCION" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="MensajeType">
		<xs:sequence>
			<xs:element name="VIGENCIA" type="xs:decimal" />
			<xs:element name="FECHA_CREACION" type="xs:string" />
			<xs:element name="FECHA_EXPIRACION" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>