MCG/REFERENCIA/BUS/ITEL/Core/Resources/Schemas/PS_ITEL_ENVIARSMS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.comcel.com.co/EnviarSMS/" 
	xmlns:tns="http://www.comcel.com.co/EnviarSMS/">
	<xs:element name="Input_Parameters" type="tns:Input_Paramaters" />

	<xs:complexType name="Input_Paramaters">
		<xs:sequence>
			<xs:element name="NUMEROCELULAR" type="xs:string" />
			<xs:element name="MENSAJE" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>