MCG/REFERENCIA/BUS/RulesEngine/Rules/Resources/Schemas/BR_VALIDATEIMEI_MESSAGETYPES.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://xmlns.oracle.com/ValidateImei/DS_ValidateImei"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bpelpm="http://xmlns.oracle.com/bpel"
	xmlns:rules="http://xmlns.oracle.com/bpel/rules" xmlns:ns1="http://www.claro.com.co/rulesEngine/ValidateImeiFact"
	targetNamespace="http://xmlns.oracle.com/ValidateImei/DS_ValidateImei"
	attributeFormDefault="unqualified" elementFormDefault="qualified">
	<import namespace="http://www.claro.com.co/rulesEngine/ValidateImeiFact"
		schemaLocation="BR_VALIDATEIMEI_FACT.xsd" />
	<import namespace="http://xmlns.oracle.com/bpel/rules"
		schemaLocation="Commons/BR_PRIMITIVE_TYPES.xsd" />
	<import namespace="http://xmlns.oracle.com/bpel" schemaLocation="Commons/BR_BPELPROCESS.xsd" />
	<include
		schemaLocation="BR_VALIDATEIMEI_TYPES.xsd" />
	<element name="callFunctionStateless" type="tns:callFunctionStatelessType" />
	<complexType name="callFunctionStatelessType">
		<sequence>
			<element name="configURL" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="bpelInstance" type="bpelpm:tBpelProcess"
				minOccurs="0" maxOccurs="1" />
			<element name="parameterList" minOccurs="1" maxOccurs="1"
				type="tns:parameterListType" />
		</sequence>
		<attribute name="name" type="NCName" use="required" />
	</complexType>
	<element name="callFunctionStatelessDecision" type="tns:callFunctionStatelessDecisionType" />
	<complexType name="callFunctionStatelessDecisionType">
		<sequence>
			<element name="resultList" minOccurs="1" maxOccurs="1"
				type="tns:resultListType" />
		</sequence>
	</complexType>
	<element name="callFunctionStateful" type="tns:callFunctionStatefulType" />
	<complexType name="callFunctionStatefulType">
		<sequence>
			<element name="configURL" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="bpelInstance" type="bpelpm:tBpelProcess"
				minOccurs="0" maxOccurs="1" />
			<element name="parameterList" minOccurs="1" maxOccurs="1"
				type="tns:parameterListType" />
		</sequence>
		<attribute name="name" type="NCName" use="required" />
	</complexType>
	<element name="callFunctionStatefulDecision" type="tns:callFunctionStatefulDecisionType" />
	<complexType name="callFunctionStatefulDecisionType">
		<sequence>
			<element name="resultList" minOccurs="1" maxOccurs="1"
				type="tns:resultListType" />
		</sequence>
	</complexType>
	<complexType name="parameterListType">
		<sequence>
			<element ref="ns1:ValidateImeiFactRequest" />
		</sequence>
	</complexType>
	<complexType name="resultListType">
		<sequence>
			<element ref="ns1:ValidateImeiFactResponse" />
		</sequence>
	</complexType>
</schema>