MCG/REFERENCIA/BUS/RulesEngine/Rules/Resources/Schemas/PS_DOWNGRADEGENERALVALIDATION.xsd

<schema targetNamespace="http://www.claro.com.co/rulesEngine/downgradeGeneralValidation"
	xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.claro.com.co/rulesEngine/downgradeGeneralValidation"
	xmlns:cd="http://www.claro.com.co/rulesEngine/canonicalModel/CustomerDomain"
	xmlns:pd="http://www.claro.com.co/rulesEngine/canonicalModel/ProductDomain"
	xmlns:cbe="http://www.claro.com.co/rulesEngine/canonicalModel/CommonBusinessEntities">


	<import
		schemaLocation="../../../Core/Resources/Schemas/CanonicalModel/CustomerDomain.xsd"
		namespace="http://www.claro.com.co/rulesEngine/canonicalModel/CustomerDomain" />


	<element name="Input_Parameters" type="tns:Input_Parameters" />
	<element name="WS_Result" type="tns:WS_Result" />

	<complexType name="Input_Parameters">
		<sequence>
			<element name="product" type="pd:Product" />
			<element name="internalAccountBehavior" type="cd:InternalAccountBehavior" />
		</sequence>
	</complexType>

	<complexType name="WS_Result">
		<sequence>
			<element name="code" type="string" />
			<element name="message" type="tns:responseType" />
			<element name="description" type="string" />
		</sequence>
	</complexType>

	<complexType name="responseType">
		<sequence>
			<element name="exceptionBusinessCollection" type="cbe:ExceptionBusinessCollection"/>
		</sequence>
	</complexType>

</schema>