MCG/REFERENCIA/BUS/ITEL/OCS/AIR/Resources/WSDLs/actualizarDetalleCuenta_PS.wsdl

<wsdl:definitions name="actualizarDetalleCuenta_PS" targetNamespace="http://www.comcel.com.co/actualizarDetalleCuenta_PS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.comcel.com.co/actualizarDetalleCuenta_PS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.comcel.com.co/ActualizarDetalleCuentaOCS/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.comcel.com.co/actualizarDetalleCuenta_PS/">
      <xsd:element name="actualizarDetalleCuenta">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="actualizarDetalleCuentaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema>
    	<xsd:import namespace="http://www.comcel.com.co/ActualizarDetalleCuentaOCS/" schemaLocation="../Schemas/PS_ITEL_ACTUALIZAR_DETALLE_CUENTA.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="actualizarDetalleCuentaRequest">
    <wsdl:part element="xsd1:Input_Parameters" name="Input_Parameters"/>
  </wsdl:message>
  <wsdl:message name="actualizarDetalleCuentaResponse">
    <wsdl:part element="xsd1:WS_Result" name="WS_Result"/>
  </wsdl:message>
  <wsdl:portType name="actualizarDetalleCuenta_PS">
    <wsdl:operation name="actualizarDetalleCuenta">
      <wsdl:input message="tns:actualizarDetalleCuentaRequest"/>
      <wsdl:output message="tns:actualizarDetalleCuentaResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="actualizarDetalleCuenta_PSSOAP" type="tns:actualizarDetalleCuenta_PS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="actualizarDetalleCuenta">
      <soap:operation soapAction="http://www.comcel.com.co/actualizarDetalleCuenta_PS/actualizarDetalleCuenta"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="actualizarDetalleCuenta_PS">
    <wsdl:port binding="tns:actualizarDetalleCuenta_PSSOAP" name="actualizarDetalleCuenta_PSSOAP">
      <soap:address location="http://www.comcel.com.co/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>