MCG/REFERENCIA/BUS/ITEL/OCS/AIR/Resources/WSDLs/actualizarGeneral_PS.wsdl

<wsdl:definitions name="actualizarGeneral_PS" targetNamespace="http://www.comcel.com.co/actualizarGeneral_PS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.comcel.com.co/actualizarGeneral_PS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.comcel.com.co/ActualizarGeneralOCS/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.comcel.com.co/actualizarGeneral_PS/">
      <xsd:element name="actualizarGeneral">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="actualizarGeneralResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema>
    	<xsd:import namespace="http://www.comcel.com.co/ActualizarGeneralOCS/" schemaLocation="../Schemas/PS_ITEL_ACTUALIZAR_GENERAL.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="actualizarGeneralRequest">
    <wsdl:part element="xsd1:Input_Parameters" name="Input_Parameters"/>
  </wsdl:message>
  <wsdl:message name="actualizarGeneralResponse">
    <wsdl:part element="xsd1:WS_Result" name="WS_Result"/>
  </wsdl:message>
  <wsdl:portType name="actualizarGeneral_PS">
    <wsdl:operation name="actualizarGeneral">
      <wsdl:input message="tns:actualizarGeneralRequest"/>
      <wsdl:output message="tns:actualizarGeneralResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="actualizarGeneral_PSSOAP" type="tns:actualizarGeneral_PS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="actualizarGeneral">
      <soap:operation soapAction="http://www.comcel.com.co/actualizarGeneral_PS/actualizarGeneral"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="actualizarGeneral_PS">
    <wsdl:port binding="tns:actualizarGeneral_PSSOAP" name="actualizarGeneral_PSSOAP">
      <soap:address location="http://www.comcel.com.co/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>