MCG/REFERENCIA/BUS/ITEL/OCS/AIR/Resources/WSDLs/actualizarBloqueoTemporal_PS.wsdl

<wsdl:definitions name="actualizarBloqueoTemporal_PS" targetNamespace="http://www.comcel.com.co/actualizarBloqueoTemporal_PS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.comcel.com.co/actualizarBloqueoTemporal_PS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.comcel.com.co/ActualizarBloqueoTemporalOCS/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.comcel.com.co/actualizarBloqueoTemporal_PS/">
      <xsd:element name="actualizarBloqueoTemporal">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="actualizarBloqueoTemporalResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema>
    	<xsd:import namespace="http://www.comcel.com.co/ActualizarBloqueoTemporalOCS/" schemaLocation="../Schemas/PS_ITEL_ACTUALIZAR_BLOQUEO_TEMPORAL.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="actualizarBloqueoTemporalRequest">
    <wsdl:part element="xsd1:Input_Parameters" name="Input_Parameters"/>
  </wsdl:message>
  <wsdl:message name="actualizarBloqueoTemporalResponse">
    <wsdl:part element="xsd1:WS_Result" name="WS_Result"/>
  </wsdl:message>
  <wsdl:portType name="actualizarBloqueoTemporal_PS">
    <wsdl:operation name="actualizarBloqueoTemporal">
      <wsdl:input message="tns:actualizarBloqueoTemporalRequest"/>
      <wsdl:output message="tns:actualizarBloqueoTemporalResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="actualizarBloqueoTemporal_PSSOAP" type="tns:actualizarBloqueoTemporal_PS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="actualizarBloqueoTemporal">
      <soap:operation soapAction="http://www.comcel.com.co/actualizarBloqueoTemporal_PS/actualizarBloqueoTemporal"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="actualizarBloqueoTemporal_PS">
    <wsdl:port binding="tns:actualizarBloqueoTemporal_PSSOAP" name="actualizarBloqueoTemporal_PSSOAP">
      <soap:address location="http://www.comcel.com.co/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>