MCG/REFERENCIA/BUS/ITEL/OCS/AIR/Resources/WSDLs/actualizarBloqueoRecarga_PS.wsdl

<wsdl:definitions name="actualizarBloqueoRecarga_PS" targetNamespace="http://www.comcel.com.co/actualizarBloqueoRecarga_PS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.comcel.com.co/actualizarBloqueoRecarga_PS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.comcel.com.co/ActualizarBloqueoRecargaOCS/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.comcel.com.co/actualizarBloqueoRecarga_PS/">
      <xsd:element name="actualizarBloqueoRecarga">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="actualizarBloqueoRecargaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema>
    	<xsd:import namespace="http://www.comcel.com.co/ActualizarBloqueoRecargaOCS/" schemaLocation="../Schemas/PS_ITEL_ACTUALIZAR_BLOQUEO_RECARGA.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="actualizarBloqueoRecargaRequest">
    <wsdl:part element="xsd1:Input_Parameters" name="Input_Parameters"/>
  </wsdl:message>
  <wsdl:message name="actualizarBloqueoRecargaResponse">
    <wsdl:part element="xsd1:WS_Result" name="WS_Result"/>
  </wsdl:message>
  <wsdl:portType name="actualizarBloqueoRecarga_PS">
    <wsdl:operation name="actualizarBloqueoRecarga">
      <wsdl:input message="tns:actualizarBloqueoRecargaRequest"/>
      <wsdl:output message="tns:actualizarBloqueoRecargaResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="actualizarBloqueoRecarga_PSSOAP" type="tns:actualizarBloqueoRecarga_PS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="actualizarBloqueoRecarga">
      <soap:operation soapAction="http://www.comcel.com.co/actualizarBloqueoRecarga_PS/actualizarBloqueoRecarga"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="actualizarBloqueoRecarga_PS">
    <wsdl:port binding="tns:actualizarBloqueoRecarga_PSSOAP" name="actualizarBloqueoRecarga_PSSOAP">
      <soap:address location="http://www.comcel.com.co/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>