MCG/REFERENCIA/BUS/ITEL/OCS/AIR/Resources/WSDLs/actualizarAccumulator_PS.wsdl

<wsdl:definitions name="ActualizarAccumulator_PS" targetNamespace="http://www.comcel.com.co/actualizarAccumulator_PS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.comcel.com.co/actualizarAccumulator_PS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.comcel.com.co/ActualizarAccumulatorOCS/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.comcel.com.co/actualizarAccumulator_PS/">
      <xsd:element name="actualizarAccumulator">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="actualizarAccumulatorResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema>
    	<xsd:import namespace="http://www.comcel.com.co/ActualizarAccumulatorOCS/" schemaLocation="../Schemas/PS_ITEL_ACTUALIZAR_ACCUMULATOR.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="actualizarAccumulatorRequest">
    <wsdl:part element="xsd1:Input_Parameters" name="Input_Parameters"/>
  </wsdl:message>
  <wsdl:message name="actualizarAccumulatorResponse">
    <wsdl:part element="xsd1:WS_Result" name="WS_Result"/>
  </wsdl:message>
  <wsdl:portType name="actualizarAccumulator_PS">
    <wsdl:operation name="actualizarAccumulator">
      <wsdl:input message="tns:actualizarAccumulatorRequest"/>
      <wsdl:output message="tns:actualizarAccumulatorResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="actualizarAccumulator_PSSOAP" type="tns:actualizarAccumulator_PS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="actualizarAccumulator">
      <soap:operation soapAction="http://www.comcel.com.co/actualizarAccumulator_PS/actualizarAccumulator"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="actualizarAccumulator_PS">
    <wsdl:port binding="tns:actualizarAccumulator_PSSOAP" name="actualizarAccumulator_PSSOAP">
      <soap:address location="http://www.comcel.com.co/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>