MCG/REFERENCIA/BUS/ITEL/OCS/AIR/Resources/WSDLs/consultarBalancesAll_PS.wsdl

<wsdl:definitions name="consultarBalances_PS" targetNamespace="http://www.comcel.com.co/consultarBalances_PS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.comcel.com.co/consultarBalances_PS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.comcel.com.co/ConsultarBalancesOCS/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.comcel.com.co/consultarBalances_PS/">
      <xsd:element name="consultarBalances">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarBalancesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema>
    	<xsd:import namespace="http://www.comcel.com.co/ConsultarBalancesOCS/" schemaLocation="../Schemas/PS_ITEL_CONSULTAR_BALANCES_ALL.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="consultarBalancesRequest">
    <wsdl:part element="xsd1:Input_Parameters" name="Input_Parameters"/>
  </wsdl:message>
  <wsdl:message name="consultarBalancesResponse">
    <wsdl:part element="xsd1:WS_Result" name="WS_Result"/>
  </wsdl:message>
  <wsdl:portType name="consultarBalances_PS">
    <wsdl:operation name="consultarBalances">
      <wsdl:input message="tns:consultarBalancesRequest"/>
      <wsdl:output message="tns:consultarBalancesResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="consultarBalances_PSSOAP" type="tns:consultarBalances_PS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consultarBalances">
      <soap:operation soapAction="http://www.comcel.com.co/consultarBalances_PS/consultarBalances"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="consultarBalances_PS">
    <wsdl:port binding="tns:consultarBalances_PSSOAP" name="consultarBalances_PSSOAP">
      <soap:address location="http://www.comcel.com.co/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>