MCG/REFERENCIA/BUS/ITEL/OCS/AIR/Resources/WSDLs/consultarUCyUT_PS.wsdl

<wsdl:definitions name="ConsultarUCyUT_PS"
	targetNamespace="http://www.comcel.com.co/consultarUCyUT_PS/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.comcel.com.co/consultarUCyUT_PS/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xsd1="http://www.comcel.com.co/ConsultarUCyUTOCS/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.comcel.com.co/consultarUCyUT_PS/">
			<xsd:element name="consultarUCyUT">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="consultarUCyUTResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.comcel.com.co/ConsultarUCyUTOCS/"
				schemaLocation="../Schemas/PS_ITEL_CONSULTAR_UCyUT.xsd">
			</xsd:import>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="consultarUCyUTRequest">
		<wsdl:part element="xsd1:Input_Parameters" name="Input_Parameters" />
	</wsdl:message>
	<wsdl:message name="consultarUCyUTResponse">
		<wsdl:part element="xsd1:WS_Result" name="WS_Result" />
	</wsdl:message>
	<wsdl:portType name="consultarUCyUT_PS">
		<wsdl:operation name="consultarUCyUT">
			<wsdl:input message="tns:consultarUCyUTRequest" />
			<wsdl:output message="tns:consultarUCyUTResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="consultarUCyUT_PSSOAP" type="tns:consultarUCyUT_PS">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="consultarUCyUT">
			<soap:operation
				soapAction="http://www.comcel.com.co/consultarUCyUT_PS/consultarUCyUT" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="consultarUCyUT_PS">
		<wsdl:port binding="tns:consultarUCyUT_PSSOAP" name="consultarUCyUT_PSSOAP">
			<soap:address location="http://www.comcel.com.co/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>