MCG/REFERENCIA/BUS/ITEL/OCS/AIR/Resources/WSDLs/consultarDetalleCuenta_PS.wsdl

<wsdl:definitions name="consultarDetalleCuenta_PS" targetNamespace="http://www.comcel.com.co/consultarDetalleCuenta_PS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.comcel.com.co/consultarDetalleCuenta_PS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.comcel.com.co/ConsultarDetalleCuentaOCS/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.comcel.com.co/consultarDetalleCuenta_PS/">
      <xsd:element name="consultarDetalleCuenta">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarDetalleCuentaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema>
    	<xsd:import namespace="http://www.comcel.com.co/ConsultarDetalleCuentaOCS/" schemaLocation="../Schemas/PS_ITEL_CONSULTAR_DETALLE_CUENTA.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="consultarDetalleCuentaRequest">
    <wsdl:part element="xsd1:Input_Parameters" name="Input_Parameters"/>
  </wsdl:message>
  <wsdl:message name="consultarDetalleCuentaResponse">
    <wsdl:part element="xsd1:WS_Result" name="WS_Result"/>
  </wsdl:message>
  <wsdl:portType name="consultarDetalleCuenta_PS">
    <wsdl:operation name="consultarDetalleCuenta">
      <wsdl:input message="tns:consultarDetalleCuentaRequest"/>
      <wsdl:output message="tns:consultarDetalleCuentaResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="consultarDetalleCuenta_PSSOAP" type="tns:consultarDetalleCuenta_PS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consultarDetalleCuenta">
      <soap:operation soapAction="http://www.comcel.com.co/consultarDetalleCuenta_PS/consultarDetalleCuenta"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="consultarDetalleCuenta_PS">
    <wsdl:port binding="tns:consultarDetalleCuenta_PSSOAP" name="consultarDetalleCuenta_PSSOAP">
      <soap:address location="http://www.comcel.com.co/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>