MCG/REFERENCIA/BUS/ITEL/OCS/AIR/Resources/WSDLs/ejecutarOperacionAIRHTTP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.comcel.com.co/OCS/OperacionOCS_AIR" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.comcel.com.co/OCS/OperacionOCS_AIR" targetNamespace="http://www.comcel.com.co/OCS/OperacionOCS_AIR">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.comcel.com.co/OCS/OperacionOCS_AIR">

	<!-- Operaciones -->
	<element name="ConsultarSuscriptorRequest" type="tns:ConsultarSuscriptorRequest"/>
	<element name="CrearSuscriptorRequest" type="tns:CrearSuscriptorRequest"/>

	<!-- Tipos de datos -->

	<complexType name="ConsultarSuscriptorRequest">
		<attribute name="min" type="long"/>
		<attribute name="timeout" type="long"/>
	</complexType>

	<complexType name="CrearSuscriptorRequest">
		<attribute name="prefijo" type="long"/>
		<attribute name="cargaInicial" type="long"/>
		<attribute name="min" type="long"/>
		<attribute name="rol" type="long"/>
		<attribute name="tipo" type="string"/>
	</complexType>

</schema>
  </wsdl:types>
  <wsdl:message name="CrearSuscriptorRequest">
    <wsdl:part element="tns:CrearSuscriptorRequest" name="CrearSuscriptorRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarSuscriptorRequest">
    <wsdl:part element="tns:ConsultarSuscriptorRequest" name="ConsultarSuscriptorRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OperacionOCS">
    <wsdl:operation name="ConsultarSuscriptor">
      <wsdl:input message="tns:ConsultarSuscriptorRequest" name="ConsultarSuscriptorRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CrearSuscriptor">
      <wsdl:input message="tns:CrearSuscriptorRequest" name="CrearSuscriptorRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OperacionOCSSoap11" type="tns:OperacionOCS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ConsultarSuscriptor">
      <soap:operation soapAction=""/>
      <wsdl:input name="ConsultarSuscriptorRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CrearSuscriptor">
      <soap:operation soapAction=""/>
      <wsdl:input name="CrearSuscriptorRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OperacionOCSService">
    <wsdl:port binding="tns:OperacionOCSSoap11" name="OperacionOCSSoap11">
      <soap:address location="http://172.23.75.97:9090/OCSAdapter/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>