MCG/REFERENCIA/BUS/ITEL/OCS/AIR/Resources/WSDLs/eliminarDetalleCuenta_PS.wsdl

<wsdl:definitions name="eliminarDetalleCuenta_PS" targetNamespace="http://www.comcel.com.co/eliminarDetalleCuenta_PS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.comcel.com.co/eliminarDetalleCuenta_PS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.comcel.com.co/EliminarDetalleCuentaOCS/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.comcel.com.co/eliminarDetalleCuenta_PS/">
      <xsd:element name="eliminarDetalleCuenta">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="eliminarDetalleCuentaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema>
    	<xsd:import namespace="http://www.comcel.com.co/EliminarDetalleCuentaOCS/" schemaLocation="../Schemas/PS_ITEL_ELIMINAR_DETALLE_CUENTA.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="eliminarDetalleCuentaRequest">
    <wsdl:part element="xsd1:Input_Parameters" name="Input_Parameters"/>
  </wsdl:message>
  <wsdl:message name="eliminarDetalleCuentaResponse">
    <wsdl:part element="xsd1:WS_Result" name="WS_Result"/>
  </wsdl:message>
  <wsdl:portType name="eliminarDetalleCuenta_PS">
    <wsdl:operation name="eliminarDetalleCuenta">
      <wsdl:input message="tns:eliminarDetalleCuentaRequest"/>
      <wsdl:output message="tns:eliminarDetalleCuentaResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="eliminarDetalleCuenta_PSSOAP" type="tns:eliminarDetalleCuenta_PS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="eliminarDetalleCuenta">
      <soap:operation soapAction="http://www.comcel.com.co/eliminarDetalleCuenta_PS/eliminarDetalleCuenta"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="eliminarDetalleCuenta_PS">
    <wsdl:port binding="tns:eliminarDetalleCuenta_PSSOAP" name="eliminarDetalleCuenta_PSSOAP">
      <soap:address location="http://www.comcel.com.co/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>