MCG/REFERENCIA/BUS/ITEL/OCS/AIR/Resources/WSDLs/eliminarOfferODM_PS.wsdl

<wsdl:definitions name="EliminarOfferODM_PS"
	targetNamespace="http://www.comcel.com.co/eliminarOfferODM_PS/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.comcel.com.co/eliminarOfferODM_PS/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xsd1="http://www.comcel.com.co/EliminarOfferOCSODM/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.comcel.com.co/eliminarOffer_PS/">
			<xsd:element name="eliminarOffer">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="eliminarOfferResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.comcel.com.co/EliminarOfferOCSODM/"
				schemaLocation="../Schemas/PS_ITEL_ELIMINAR_OFFER_ODM.xsd">
			</xsd:import>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="eliminarOfferRequest">
		<wsdl:part element="xsd1:Input_Parameters" name="Input_Parameters" />
	</wsdl:message>
	<wsdl:message name="eliminarOfferResponse">
		<wsdl:part element="xsd1:WS_Result" name="WS_Result" />
	</wsdl:message>
	<wsdl:portType name="eliminarOffer_PS">
		<wsdl:operation name="eliminarOffer">
			<wsdl:input message="tns:eliminarOfferRequest" />
			<wsdl:output message="tns:eliminarOfferResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="eliminarOffer_PSSOAP" type="tns:eliminarOffer_PS">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="eliminarOffer">
			<soap:operation
				soapAction="http://www.comcel.com.co/eliminarOffer_PS/eliminarOffer" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="eliminarOffer_PS">
		<wsdl:port binding="tns:eliminarOffer_PSSOAP" name="eliminarOffer_PSSOAP">
			<soap:address location="http://www.comcel.com.co/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>