MCG/REFERENCIA/BUS/ITEL/OCS/AIR/Resources/WSDLs/recargar_PS.wsdl

<wsdl:definitions name="recargar_PS" targetNamespace="http://www.comcel.com.co/recargar_PS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.comcel.com.co/recargar_PS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.comcel.com.co/RecargarOCS/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.comcel.com.co/recargar_PS/">
      <xsd:element name="recargar">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="recargarResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema>
    	<xsd:import namespace="http://www.comcel.com.co/RecargarOCS/" schemaLocation="../Schemas/PS_ITEL_RECARGAR.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="recargarRequest">
    <wsdl:part element="xsd1:Input_Parameters" name="Input_Parameters"/>
  </wsdl:message>
  <wsdl:message name="recargarResponse">
    <wsdl:part element="xsd1:WS_Result" name="WS_Result"/>
  </wsdl:message>
  <wsdl:portType name="recargar_PS">
    <wsdl:operation name="recargar">
      <wsdl:input message="tns:recargarRequest"/>
      <wsdl:output message="tns:recargarResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="recargar_PSSOAP" type="tns:recargar_PS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="recargar">
      <soap:operation soapAction="http://www.comcel.com.co/recargar_PS/recargar"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="recargar_PS">
    <wsdl:port binding="tns:recargar_PSSOAP" name="recargar_PSSOAP">
      <soap:address location="http://www.comcel.com.co/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>