MCG/REFERENCIA/BUS/ITEL/OCS/SOI/Resources/WSDLs/ejecutarOperacionOCSSOI.wsdl

<wsdl:definitions targetNamespace="http://www.comcel.com.co/OCS/OperacionCorbaOCS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.comcel.com.co/OCS/OperacionCorbaOCS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.comcel.com.co/OCS/OperacionCorbaOCS">
   <wsdl:types>
   
	    <schema elementFormDefault="qualified" targetNamespace="http://www.comcel.com.co/OCS/OperacionCorbaOCS" xmlns="http://www.w3.org/2001/XMLSchema">
			<include schemaLocation="../Schemas/DA_ITEL_OPERACION_OCS_SOI.xsd"/>
		</schema>
	
   </wsdl:types>
   <wsdl:message name="CompensarCambiarMinRequest">
       <wsdl:part element="tns:CompensarCambiarMinRequest" name="CompensarCambiarMinRequest"/>
   </wsdl:message>
   <wsdl:message name="BloquearSuscriptorRequest">
       <wsdl:part element="tns:BloquearSuscriptorRequest" name="BloquearSuscriptorRequest"/>
   </wsdl:message>
   <wsdl:message name="BloquearSuscriptorResponse">
       <wsdl:part element="tns:BloquearSuscriptorResponse" name="BloquearSuscriptorResponse"/>
   </wsdl:message>
   <wsdl:message name="ConsultarSuscriptorRequest">
       <wsdl:part element="tns:ConsultarSuscriptorRequest" name="ConsultarSuscriptorRequest"/>
   </wsdl:message>
   <wsdl:message name="ConsultarSuscriptorResponse">
       <wsdl:part element="tns:ConsultarSuscriptorResponse" name="ConsultarSuscriptorResponse"/>
   </wsdl:message>
   <wsdl:message name="CambiarPlanRequest">
       <wsdl:part element="tns:CambiarPlanRequest" name="CambiarPlanRequest"/>
   </wsdl:message>
   <wsdl:message name="CambiarPlanResponse">
       <wsdl:part element="tns:CambiarPlanResponse" name="CambiarPlanResponse"/>
   </wsdl:message>
   <wsdl:message name="CompensacionResponse">
       <wsdl:part element="tns:CompensacionResponse" name="CompensacionResponse"/>
   </wsdl:message>
   <wsdl:message name="CrearSuscriptorRequest">
       <wsdl:part element="tns:CrearSuscriptorRequest" name="CrearSuscriptorRequest"/>
   </wsdl:message>
   <wsdl:message name="CrearSuscriptorResponse">
       <wsdl:part element="tns:CrearSuscriptorResponse" name="CrearSuscriptorResponse"/>
   </wsdl:message>
   <wsdl:message name="CambiarMinRequest">
       <wsdl:part element="tns:CambiarMinRequest" name="CambiarMinRequest"/>
   </wsdl:message>
   <wsdl:message name="CambiarMinResponse">
       <wsdl:part element="tns:CambiarMinResponse" name="CambiarMinResponse"/>
   </wsdl:message>
   <wsdl:message name="CompensarCrearSuscriptorRequest">
       <wsdl:part element="tns:CompensarCrearSuscriptorRequest" name="CompensarCrearSuscriptorRequest"/>
   </wsdl:message>
   <wsdl:message name="EliminarSuscriptorRequest">
       <wsdl:part element="tns:EliminarSuscriptorRequest" name="EliminarSuscriptorRequest"/>
   </wsdl:message>
   <wsdl:message name="EliminarSuscriptorResponse">
       <wsdl:part element="tns:EliminarSuscriptorResponse" name="EliminarSuscriptorResponse"/>
   </wsdl:message>
   <wsdl:message name="CompensarCambiarPlanRequest">
       <wsdl:part element="tns:CompensarCambiarPlanRequest" name="CompensarCambiarPlanRequest"/>
   </wsdl:message>
   <wsdl:message name="EjecutarComandoRequest">
       <wsdl:part element="tns:EjecutarComandoRequest" name="EjecutarComandoRequest"/>
   </wsdl:message>
   <wsdl:message name="EjecutarComandoResponse">
       <wsdl:part element="tns:EjecutarComandoResponse" name="EjecutarComandoResponse"/>
   </wsdl:message>
   <wsdl:portType name="OperacionCorbaOCS">
       <wsdl:operation name="CompensarCambiarMin">
           <wsdl:input message="tns:CompensarCambiarMinRequest" name="CompensarCambiarMinRequest"/>
       </wsdl:operation>
       <wsdl:operation name="BloquearSuscriptor">
           <wsdl:input message="tns:BloquearSuscriptorRequest" name="BloquearSuscriptorRequest"/>
           <wsdl:output message="tns:BloquearSuscriptorResponse" name="BloquearSuscriptorResponse"/>
       </wsdl:operation>
       <wsdl:operation name="ConsultarSuscriptor">
           <wsdl:input message="tns:ConsultarSuscriptorRequest" name="ConsultarSuscriptorRequest"/>
           <wsdl:output message="tns:ConsultarSuscriptorResponse" name="ConsultarSuscriptorResponse"/>
       </wsdl:operation>
       <wsdl:operation name="CambiarPlan">
           <wsdl:input message="tns:CambiarPlanRequest" name="CambiarPlanRequest"/>
           <wsdl:output message="tns:CambiarPlanResponse" name="CambiarPlanResponse"/>
       </wsdl:operation>
       <wsdl:operation name="Compensacion">
           <wsdl:output message="tns:CompensacionResponse" name="CompensacionResponse"/>
       </wsdl:operation>
       <wsdl:operation name="CrearSuscriptor">
           <wsdl:input message="tns:CrearSuscriptorRequest" name="CrearSuscriptorRequest"/>
           <wsdl:output message="tns:CrearSuscriptorResponse" name="CrearSuscriptorResponse"/>
       </wsdl:operation>
       <wsdl:operation name="CambiarMin">
           <wsdl:input message="tns:CambiarMinRequest" name="CambiarMinRequest"/>
           <wsdl:output message="tns:CambiarMinResponse" name="CambiarMinResponse"/>
       </wsdl:operation>
       <wsdl:operation name="CompensarCrearSuscriptor">
           <wsdl:input message="tns:CompensarCrearSuscriptorRequest" name="CompensarCrearSuscriptorRequest"/>
       </wsdl:operation>
       <wsdl:operation name="EliminarSuscriptor">
           <wsdl:input message="tns:EliminarSuscriptorRequest" name="EliminarSuscriptorRequest"/>
           <wsdl:output message="tns:EliminarSuscriptorResponse" name="EliminarSuscriptorResponse"/>
       </wsdl:operation>
       <wsdl:operation name="CompensarCambiarPlan">
           <wsdl:input message="tns:CompensarCambiarPlanRequest" name="CompensarCambiarPlanRequest"/>
       </wsdl:operation>
       <wsdl:operation name="EjecutarComando">
           <wsdl:input message="tns:EjecutarComandoRequest" name="EjecutarComandoRequest"/>
           <wsdl:output message="tns:EjecutarComandoResponse" name="EjecutarComandoResponse"/>
       </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="OperacionCorbaOCSSoap11" type="tns:OperacionCorbaOCS">
       <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
       <wsdl:operation name="CompensarCambiarMin">
           <soap:operation soapAction=""/>
           <wsdl:input name="CompensarCambiarMinRequest">
               <soap:body use="literal"/>
           </wsdl:input>
       </wsdl:operation>
       <wsdl:operation name="BloquearSuscriptor">
           <soap:operation soapAction=""/>
           <wsdl:input name="BloquearSuscriptorRequest">
               <soap:body use="literal"/>
           </wsdl:input>
           <wsdl:output name="BloquearSuscriptorResponse">
               <soap:body use="literal"/>
           </wsdl:output>
       </wsdl:operation>
       <wsdl:operation name="ConsultarSuscriptor">
           <soap:operation soapAction=""/>
           <wsdl:input name="ConsultarSuscriptorRequest">
               <soap:body use="literal"/>
           </wsdl:input>
           <wsdl:output name="ConsultarSuscriptorResponse">
               <soap:body use="literal"/>
           </wsdl:output>
       </wsdl:operation>
       <wsdl:operation name="CambiarPlan">
           <soap:operation soapAction=""/>
           <wsdl:input name="CambiarPlanRequest">
               <soap:body use="literal"/>
           </wsdl:input>
           <wsdl:output name="CambiarPlanResponse">
               <soap:body use="literal"/>
           </wsdl:output>
       </wsdl:operation>
       <wsdl:operation name="Compensacion">
           <soap:operation soapAction=""/>
           <wsdl:output name="CompensacionResponse">
               <soap:body use="literal"/>
           </wsdl:output>
       </wsdl:operation>
       <wsdl:operation name="CrearSuscriptor">
           <soap:operation soapAction=""/>
           <wsdl:input name="CrearSuscriptorRequest">
               <soap:body use="literal"/>
           </wsdl:input>
           <wsdl:output name="CrearSuscriptorResponse">
               <soap:body use="literal"/>
           </wsdl:output>
       </wsdl:operation>
       <wsdl:operation name="CambiarMin">
           <soap:operation soapAction=""/>
           <wsdl:input name="CambiarMinRequest">
               <soap:body use="literal"/>
           </wsdl:input>
           <wsdl:output name="CambiarMinResponse">
               <soap:body use="literal"/>
           </wsdl:output>
       </wsdl:operation>
       <wsdl:operation name="CompensarCrearSuscriptor">
           <soap:operation soapAction=""/>
           <wsdl:input name="CompensarCrearSuscriptorRequest">
               <soap:body use="literal"/>
           </wsdl:input>
       </wsdl:operation>
       <wsdl:operation name="EliminarSuscriptor">
           <soap:operation soapAction=""/>
           <wsdl:input name="EliminarSuscriptorRequest">
               <soap:body use="literal"/>
           </wsdl:input>
           <wsdl:output name="EliminarSuscriptorResponse">
               <soap:body use="literal"/>
           </wsdl:output>
       </wsdl:operation>
       <wsdl:operation name="CompensarCambiarPlan">
           <soap:operation soapAction=""/>
           <wsdl:input name="CompensarCambiarPlanRequest">
               <soap:body use="literal"/>
           </wsdl:input>
       </wsdl:operation>
       <wsdl:operation name="EjecutarComando">
           <soap:operation soapAction=""/>
           <wsdl:input name="EjecutarComandoRequest">
               <soap:body use="literal"/>
           </wsdl:input>
           <wsdl:output name="EjecutarComandoResponse">
               <soap:body use="literal"/>
           </wsdl:output>
       </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="OperacionCorbaOCSService">
       <wsdl:port binding="tns:OperacionCorbaOCSSoap11" name="OperacionCorbaOCSSoap11">
           <soap:address location="http://172.22.85.87:9223/ConectorCorbaOCS/services"/>
       </wsdl:port>
   </wsdl:service>
</wsdl:definitions>