MCG/REFERENCIA/BUS/ITEL/RLM/Resources/WSDLs/MayoristaService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://comcel/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://comcel/" name="MayoristaService">
<types>
<xsd:schema>
<xsd:import namespace="http://comcel/" schemaLocation="../Schemas/MayoristaService.xsd"/>
</xsd:schema>
</types>
<message name="Actualizar_saldo">
<part name="parameters" element="tns:Actualizar_saldo"/>
</message>
<message name="Actualizar_saldoResponse">
<part name="parameters" element="tns:Actualizar_saldoResponse"/>
</message>
<message name="Consulta_saldo">
<part name="parameters" element="tns:Consulta_saldo"/>
</message>
<message name="Consulta_saldoResponse">
<part name="parameters" element="tns:Consulta_saldoResponse"/>
</message>
<message name="ConsultaTransaccion">
<part name="parameters" element="tns:ConsultaTransaccion"/>
</message>
<message name="ConsultaTransaccionResponse">
<part name="parameters" element="tns:ConsultaTransaccionResponse"/>
</message>
<message name="existeMayorista">
<part name="parameters" element="tns:existeMayorista"/>
</message>
<message name="existeMayoristaResponse">
<part name="parameters" element="tns:existeMayoristaResponse"/>
</message>
<portType name="Mayorista">
<operation name="Actualizar_saldo">
<input message="tns:Actualizar_saldo"/>
<output message="tns:Actualizar_saldoResponse"/>
</operation>
<operation name="Consulta_saldo">
<input message="tns:Consulta_saldo"/>
<output message="tns:Consulta_saldoResponse"/>
</operation>
<operation name="ConsultaTransaccion">
<input message="tns:ConsultaTransaccion"/>
<output message="tns:ConsultaTransaccionResponse"/>
</operation>
<operation name="existeMayorista">
<input message="tns:existeMayorista"/>
<output message="tns:existeMayoristaResponse"/>
</operation>
</portType>
<binding name="MayoristaPortBinding" type="tns:Mayorista">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Actualizar_saldo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consulta_saldo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultaTransaccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="existeMayorista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MayoristaService">
<port name="MayoristaPort" binding="tns:MayoristaPortBinding">
<soap:address location="http://172.22.87.27:7001/wsMayoristaComcel/MayoristaService"/>
</port>
</service>
</definitions>