MCG/PRACTICAS/PCO_001_CadenaEntradaSalida/OSB_PCO_001_CadenaEntradaSalidaApplication/OSB_PCO_001_CadenaEntradaSalidaProject/.data/contentsets/miPrimeraFirma.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.osita.org"
            targetNamespace="http://www.osita.org" elementFormDefault="qualified">
  <xsd:complexType name="OsitaRequestType">
    <xsd:sequence>
      <xsd:element name="ositaVariableCadenaEntrada"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OsitaResponseType">
    <xsd:sequence>
      <xsd:element name="ositaVariableCadenaSalida"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ositaRequest" type="OsitaRequestType"/>
  <xsd:element name="ositaResponse" type="OsitaResponseType"/>
</xsd:schema>
