MCG/REFERENCIA/BUS/ITEL/Trama413/Resources/WSDLs/calcularProvisionTrama413_PS.wsdl

<wsdl:definitions name="calcularProvisionTrama413_PS" targetNamespace="http://www.comcel.com.co/calcularProvisionTrama413_PS/" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.comcel.com.co/calcularProvisionTrama413_PS/" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.comcel.com.co/CalcularProvisionTrama413/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.comcel.com.co/calcularProvisionTrama413_PS/">
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.comcel.com.co/CalcularProvisionTrama413/" schemaLocation="../Schemas/PS_ITEL_CALCULARPROVISIONTRAMA413.xsd">
			</xsd:import>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="calcularProvisionTrama413Request">
		<wsdl:part element="xsd1:Input_Parameters" name="Input_Parameters"/>
	</wsdl:message>
	<wsdl:message name="calcularProvisionTrama413Response">
		<wsdl:part element="xsd1:WS_Result" name="WS_Result"/>
	</wsdl:message>
	<wsdl:portType name="calcularProvisionTrama413_PS">
		<wsdl:operation name="calcularProvisionTrama413">
			<wsdl:input message="tns:calcularProvisionTrama413Request"/>
			<wsdl:output message="tns:calcularProvisionTrama413Response"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="calcularProvisionTrama413_PSSOAP" type="tns:calcularProvisionTrama413_PS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="calcularProvisionTrama413">
			<soap:operation soapAction="http://www.comcel.com.co/calcularProvisionTrama413_PS/calcularProvisionTrama413"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="calcularProvisionTrama413_PS">
		<wsdl:port binding="tns:calcularProvisionTrama413_PSSOAP" name="calcularProvisionTrama413_PSSOAP">
			<soap:address location="http://www.comcel.com.co/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>