MCG/REFERENCIA/BUS/ITEL/OCS/SOI/Resources/Schemas/PS_ITEL_ECMS_MONEY.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://lhsgroup.com/lhsws/money"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money"
	attributeFormDefault="unqualified">

	<xs:complexType name="money">
		<xs:sequence>
			<xs:element name="amount" type="xs:double" />
			<xs:element name="currency" type="xs:string" />
		</xs:sequence>
	</xs:complexType>


</schema>