MCG/REFERENCIA/BUS/RulesEngine/Amdocs/Resources/WSDLs/getCreditEvaluation_BS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ar7creditevaluation.customerorder.amx.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N3="http://ar7creditevaluation.customerorder.amx.com" xmlns:WL5G3N2="http://commonsexceptions.schema.amx.com" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://ar7creditevaluation.customerorder.schema.amx.com">
    <WL5G3N0:documentation>Author: Dario Ariel Sousa 
		email: dario.sousa@tcs.com 
		Date: 10/02/2013 
		Version: 1.0 
		Objective: Get a list of all financial accounts and all subscribers
		IDD: AMX Phase I - Billing IDD - CreditEvaluation 
		Integration Capabilitys: AR7CreditEvaluation</WL5G3N0:documentation>
    <wsdl:types>
        <xs:schema xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:commonexception="http://commonsexceptions.schema.amx.com" xmlns:cre="http://ar7creditevaluation.customerorder.schema.amx.com" xmlns:tns="http://ar7creditevaluation.customerorder.amx.com" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://ar7creditevaluation.customerorder.schema.amx.com" schemaLocation="../Schemas/BS_GET_CREDITEVALUATION.xsd"/>
            <xs:import namespace="http://commonsexceptions.schema.amx.com" schemaLocation="../Schemas/COMMON_EXCEPTIONS.xsd"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="AR7CreditEvaluationRequest">
        <wsdl:part name="body" element="WL5G3N1:AR7CreditEvaluationRequest"/>
    </wsdl:message>
    <wsdl:message name="AR7CreditEvaluationResponse">
        <wsdl:part name="body" element="WL5G3N1:AR7CreditEvaluationResponse"/>
    </wsdl:message>
    <wsdl:message name="InternalSystemErrorException">
        <wsdl:part name="fault" element="WL5G3N2:InternalSystemErrorException"/>
    </wsdl:message>
    <wsdl:message name="ExternalSystemNotAvailableException">
        <wsdl:part name="fault" element="WL5G3N2:ExternalSystemNotAvailableException"/>
    </wsdl:message>
    <wsdl:message name="MandatoryDataMissingException">
        <wsdl:part name="fault" element="WL5G3N2:MandatoryDataMissingException"/>
    </wsdl:message>
    <wsdl:message name="ReferenceDataMissingException">
        <wsdl:part name="fault" element="WL5G3N2:ReferenceDataMissingException"/>
    </wsdl:message>
    <wsdl:message name="BusinessExceptionFault">
        <wsdl:part name="fault" element="WL5G3N2:BusinessExceptionFault"/>
    </wsdl:message>
    <wsdl:portType name="AR7CreditEvaluation">
        <wsdl:operation name="AR7CreditEvaluation">
            <WL5G3N0:documentation>This operation will be used for get a list of all financial accounts and all subscribers.</WL5G3N0:documentation>
            <wsdl:input name="AR7CreditEvaluationRequest" message="WL5G3N3:AR7CreditEvaluationRequest"/>
            <wsdl:output name="AR7CreditEvaluationResponse" message="WL5G3N3:AR7CreditEvaluationResponse"/>
            <wsdl:fault name="InternalSystemErrorException" message="WL5G3N3:InternalSystemErrorException"/>
            <wsdl:fault name="ExternalSystemNotAvailableException" message="WL5G3N3:ExternalSystemNotAvailableException"/>
            <wsdl:fault name="MandatoryDataMissingException" message="WL5G3N3:MandatoryDataMissingException"/>
            <wsdl:fault name="ReferenceDataMissingException" message="WL5G3N3:ReferenceDataMissingException"/>
            <wsdl:fault name="BusinessExceptionFault" message="WL5G3N3:BusinessExceptionFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AR7CreditEvaluationSoapBinding" type="WL5G3N3:AR7CreditEvaluation">
        <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="AR7CreditEvaluation">
            <WL5G3N4:operation style="document" soapAction="http://ar7creditevaluation.customerorder.amx.com/AR7CreditEvaluation"/>
            <wsdl:input>
                <WL5G3N4:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <WL5G3N4:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="InternalSystemErrorException">
                <WL5G3N4:fault name="InternalSystemErrorException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="ExternalSystemNotAvailableException">
                <WL5G3N4:fault name="ExternalSystemNotAvailableException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="MandatoryDataMissingException">
                <WL5G3N4:fault name="MandatoryDataMissingException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="ReferenceDataMissingException">
                <WL5G3N4:fault name="ReferenceDataMissingException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="BusinessExceptionFault">
                <WL5G3N4:fault name="BusinessExceptionFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AR7CreditEvaluationService">
        <wsdl:port name="AR7CreditEvaluationPort" binding="WL5G3N3:AR7CreditEvaluationSoapBinding">
            <WL5G3N4:address location="http://lnxsoa12:8115/OSB_ONE_AMX_PRO/Services/Proxy_Services/AR7CreditEvaluationService_PS"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>