MCG/REFERENCIA/BUS/ITEL/Core/Resources/WSDLs/actualizarConsultasGratis_PS.wsdl

<wsdl:definitions name="actualizarConsultasGratis_PS" targetNamespace="http:/www.comcel.com.co/actualizarConsultasGratis_PS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http:/www.comcel.com.co/actualizarConsultasGratis_PS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.comcel.com.co/ActualizarCantidadConsultasGratisDia/">
	<wsdl:types>
		<xsd:schema targetNamespace="http:/www.comcel.com.co/actualizarConsultasGratis_PS/">
			<xsd:element name="actualizarConsultasGratis">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="actualizarConsultasGratisResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.comcel.com.co/ActualizarCantidadConsultasGratisDia/" schemaLocation="../Schemas/PS_ITEL_ACTUALIZARCANTIDADCONSULTASGRATISDIA.xsd">
			</xsd:import>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="actualizarConsultasGratisRequest">
		<wsdl:part element="xsd1:Input_Parameters" name="Input_Parameters"/>
	</wsdl:message>
	<wsdl:message name="actualizarConsultasGratisResponse">
		<wsdl:part element="xsd1:WS_Result" name="WS_Result"/>
	</wsdl:message>
	<wsdl:portType name="actualizarConsultasGratis_PS">
		<wsdl:operation name="actualizarConsultasGratis">
			<wsdl:input message="tns:actualizarConsultasGratisRequest"/>
			<wsdl:output message="tns:actualizarConsultasGratisResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="actualizarConsultasGratis_PSSOAP" type="tns:actualizarConsultasGratis_PS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="actualizarConsultasGratis">
			<soap:operation soapAction="http:/www.comcel.com.co/actualizarConsultasGratis_PS/actualizarConsultasGratis"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="actualizarConsultasGratis_PS">
		<wsdl:port binding="tns:actualizarConsultasGratis_PSSOAP" name="actualizarConsultasGratis_PSSOAP">
			<soap:address location="http://www.comcel.com.co/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>