MCG/REFERENCIA/BUS/ITEL/Core/Resources/WSDLs/actualizarCambiosDePlan_PS.wsdl

<wsdl:definitions name="actualizarCambiosDePlan_PS" targetNamespace="http:/www.comcel.com.co/actualizarCambiosDePlan_PS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http:/www.comcel.com.co/actualizarCambiosDePlan_PS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.comcel.com.co/ActualizarCantidadConsultasGratisDia/" xmlns:xsd2="http://www.comcel.com.co/ActualizarCambiosDePlan/">
	<wsdl:types>
		<xsd:schema targetNamespace="http:/www.comcel.com.co/actualizarCambiosDePlan_PS/">
			<xsd:element name="actualizarCambiosDePlan">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="actualizarCambiosDePlanResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.comcel.com.co/ActualizarCantidadConsultasGratisDia/" schemaLocation="../Schemas/PS_ITEL_ACTUALIZARCANTIDADCONSULTASGRATISDIA.xsd">
			</xsd:import>
			<xsd:import namespace="http://www.comcel.com.co/ActualizarCambiosDePlan/" schemaLocation="../Schemas/PS_ITEL_ACTUALIZAR_CAMBIOS_DE_PLAN.xsd">
			</xsd:import></xsd:schema>
	</wsdl:types>
	<wsdl:message name="actualizarCambiosDePlanRequest">
		<wsdl:part element="xsd2:Input_Parameters" name="Input_Parameters"/>
	</wsdl:message>
	<wsdl:message name="actualizarCambiosDePlanResponse">
		<wsdl:part element="xsd1:WS_Result" name="WS_Result"/>
	</wsdl:message>
	<wsdl:portType name="actualizarCambiosDePlan_PS">
		<wsdl:operation name="actualizarCambiosDePlan">
			<wsdl:input message="tns:actualizarCambiosDePlanRequest"/>
			<wsdl:output message="tns:actualizarCambiosDePlanResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="actualizarCambiosDePlan_PSSOAP" type="tns:actualizarCambiosDePlan_PS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="actualizarCambiosDePlan">
			<soap:operation soapAction="http:/www.comcel.com.co/actualizarCambiosDePlan_PS/actualizarCambiosDePlan"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="actualizarCambiosDePlan_PS">
		<wsdl:port binding="tns:actualizarCambiosDePlan_PSSOAP" name="actualizarCambiosDePlan_PSSOAP">
			<soap:address location="http://www.comcel.com.co/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>