MCG/REFERENCIA/BUS/ITEL/Core/Resources/WSDLs/consultarNRN_PS.wsdl

<wsdl:definitions name="consultarNRN_PS" targetNamespace="http://www.comcel.com.co/consultarNRN_PS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.comcel.com.co/consultarNRN_PS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.comcel.com.co/ConsultarNRN/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.comcel.com.co/consultarNRN_PS/">
      <xsd:element name="consultarNRN">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarNRNResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema>
    	<xsd:import namespace="http://www.comcel.com.co/ConsultarNRN/" schemaLocation="../Schemas/PS_ITEL_CONSULTAR_NRN.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="consultarNRNRequest">
    <wsdl:part element="xsd1:Input_Parameters" name="Input_Parameters"/>
  </wsdl:message>
  <wsdl:message name="consultarNRNResponse">
    <wsdl:part element="xsd1:WS_Result" name="WS_Result"/>
  </wsdl:message>
  <wsdl:portType name="consultarNRN_PS">
    <wsdl:operation name="consultarNRN">
      <wsdl:input message="tns:consultarNRNRequest"/>
      <wsdl:output message="tns:consultarNRNResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="consultarNRN_PSSOAP" type="tns:consultarNRN_PS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consultarNRN">
      <soap:operation soapAction="http://www.comcel.com.co/consultarNRN_PS/consultarNRN"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="consultarNRN_PS">
    <wsdl:port binding="tns:consultarNRN_PSSOAP" name="consultarNRN_PSSOAP">
      <soap:address location="http://www.comcel.com.co/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>