MCG/REFERENCIA/BUS/ITEL/Core/Resources/WSDLs/consultarContratoEsPostpago_PS.WSDL

<wsdl:definitions name="consultarContratoEsPostpago_PS" targetNamespace="http://www.comcel.com.co/consultarContratoEsPostpago_PS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.comcel.com.co/consultarContratoEsPostpago_PS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.comcel.com.co/ConsultarContractEsPostPago">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.comcel.com.co/consultarContratoEsPostpago_PS/">
      <xsd:element name="consultarContratoEsPostpago">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarContratoEsPostpagoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarContratoEsPostpagoFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="consultarContratoEsPostpagoFault" type="xsd:string">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema>
    	<xsd:import namespace="http://www.comcel.com.co/ConsultarContractEsPostPago" schemaLocation="../Schemas/PS_ITEL_CONSULTARCONTRATOESPOSTPAGO.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="consultarContratoEsPostpagoRequest">
    <wsdl:part element="xsd1:Input_Parameters" name="Input_Parameters"/>
  </wsdl:message>
  <wsdl:message name="consultarContratoEsPostpagoResponse">
    <wsdl:part element="xsd1:WS_Result" name="WS_Result"/>
  </wsdl:message>
  <wsdl:message name="consultarContratoEsPostpagoFault">

  </wsdl:message>
  <wsdl:portType name="consultarContratoEsPostpago_PS">
    <wsdl:operation name="consultarContratoEsPostpago">
      <wsdl:input message="tns:consultarContratoEsPostpagoRequest"/>
      <wsdl:output message="tns:consultarContratoEsPostpagoResponse"/>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="consultarContratoEsPostpago_PSSOAP" type="tns:consultarContratoEsPostpago_PS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consultarContratoEsPostpago">
      <soap:operation soapAction="http://www.comcel.com.co/consultarContratoEsPostpago_PS/consultarContratoEsPostpago"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="consultarContratoEsPostpago_PS">
    <wsdl:port binding="tns:consultarContratoEsPostpago_PSSOAP" name="consultarContratoEsPostpago_PSSOAP">
      <soap:address location="http://www.comcel.com.co/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>