MCG/REFERENCIA/BUS/ITEL/Core/Resources/WSDLs/consultarFAFIDVigencia_PS.wsdl

<wsdl:definitions name="consultarFAFIDVigencia_PS" targetNamespace="http://www.comcel.com.co/consultarFAFIDVigencia_PS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.comcel.com.co/consultarFAFIDVigencia_PS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.comcel.com.co/ConsultarFAFIDVigencia">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.comcel.com.cos/consultarFAFIDVigencia_PS/">
			<xsd:element name="consultarFAFIDVigencia">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="consultarFAFIDVigenciaResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.comcel.com.co/ConsultarFAFIDVigencia" schemaLocation="../Schemas/PS_ITEL_CONSULTARFAFIDVIGENCIA.xsd">
			</xsd:import>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="consultarFAFIDVigenciaRequest">
		<wsdl:part element="xsd1:Input_Parameters" name="Input_Parameters"/>
	</wsdl:message>
	<wsdl:message name="consultarFAFIDVigenciaResponse">
		<wsdl:part element="xsd1:WS_Result" name="WS_Result"/>
	</wsdl:message>
	<wsdl:portType name="consultarFAFIDVigencia_PS">
		<wsdl:operation name="consultarFAFIDVigencia">
			<wsdl:input message="tns:consultarFAFIDVigenciaRequest"/>
			<wsdl:output message="tns:consultarFAFIDVigenciaResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="consultarFAFIDVigencia_PSSOAP" type="tns:consultarFAFIDVigencia_PS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="consultarFAFIDVigencia">
			<soap:operation soapAction="http://www.comcel.com.co/consultarFAFIDVigencia_PS/consultarFAFIDVigencia"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="consultarFAFIDVigencia_PS">
		<wsdl:port binding="tns:consultarFAFIDVigencia_PSSOAP" name="consultarFAFIDVigencia_PSSOAP">
			<soap:address location="http://www.comcel.com.co/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>