MCG/REFERENCIA/BUS/ITEL/Core/Resources/WSDLs/consultarContrato_PS.wsdl

<wsdl:definitions name="consultarContract_PS" targetNamespace="http://www.comcel.com.co/consultarContract_PS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.comcel.com.co/consultarContract_PS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.comcel.com.co/ConsultarContract">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.comcel.com.cos/consultarContract_PS/">
			<xsd:element name="consultarContract">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="consultarContractResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.comcel.com.co/ConsultarContract" schemaLocation="../Schemas/PS_ITEL_CONSULTARCONTRATO.xsd">
			</xsd:import>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="consultarContractRequest">
		<wsdl:part element="xsd1:Input_Parameters" name="Input_Parameters"/>
	</wsdl:message>
	<wsdl:message name="consultarContractResponse">
		<wsdl:part element="xsd1:WS_Result" name="WS_Result"/>
	</wsdl:message>
	<wsdl:portType name="consultarContract_PS">
		<wsdl:operation name="consultarContract">
			<wsdl:input message="tns:consultarContractRequest"/>
			<wsdl:output message="tns:consultarContractResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="consultarContract_PSSOAP" type="tns:consultarContract_PS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="consultarContract">
			<soap:operation soapAction="http://www.comcel.com.co/consultarContract_PS/consultarContract"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="consultarContract_PS">
		<wsdl:port binding="tns:consultarContract_PSSOAP" name="consultarContract_PSSOAP">
			<soap:address location="http://www.comcel.com.co/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>