MCG/REFERENCIA/BUS/ITEL/Core/Resources/WSDLs/consultarVigenciaElegidoSMS_PS.WSDL

<wsdl:definitions name="consultarVigenciaElegidoSMS_PS" targetNamespace="http://www.comcel.com.co/consultarVigenciaElegidoSMS_PS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.comcel.com.co/consultarVigenciaElegidoSMS_PS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.comcel.com.co/ConsultarVigenciaElegidoSMS/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.comcel.com.co/consultarVigenciaElegidoSMS_PS/">
      <xsd:element name="consultarVigenciaElegidoSMS">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarVigenciaElegidoSMSResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema>
    	<xsd:import namespace="http://www.comcel.com.co/ConsultarVigenciaElegidoSMS/" schemaLocation="../Schemas/PS_ITEL_CONSULTARVIGENCIAELEGIDOSMS.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="consultarVigenciaElegidoSMSRequest">
    <wsdl:part element="xsd1:Input_Parameters" name="Input_Parameters"/>
  </wsdl:message>
  <wsdl:message name="consultarVigenciaElegidoSMSResponse">
    <wsdl:part element="xsd1:WS_Result" name="WS_Result"/>
  </wsdl:message>
  <wsdl:portType name="consultarVigenciaElegidoSMS_PS">
    <wsdl:operation name="consultarVigenciaElegidoSMS">
      <wsdl:input message="tns:consultarVigenciaElegidoSMSRequest"/>
      <wsdl:output message="tns:consultarVigenciaElegidoSMSResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="consultarVigenciaElegidoSMS_PSSOAP" type="tns:consultarVigenciaElegidoSMS_PS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consultarVigenciaElegidoSMS">
      <soap:operation soapAction="http://www.comcel.com.co/consultarVigenciaElegidoSMS_PS/consultarVigenciaElegidoSMS"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="consultarVigenciaElegidoSMS_PS">
    <wsdl:port binding="tns:consultarVigenciaElegidoSMS_PSSOAP" name="consultarVigenciaElegidoSMS_PSSOAP">
      <soap:address location="http://www.comcel.com.co/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>