MCG/REFERENCIA/BUS/ITEL/Core/Resources/WSDLs/consultarUnitType_PS.wsdl

<wsdl:definitions name="consultarUnitType_PS" targetNamespace="http://www.comcel.com.co/consultarUnitType_PS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.comcel.com.co/consultarUnitType_PS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.comcel.com.co/ConsultarUnitType/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.comcel.com.co/consultarUnitType_PS/">
      <xsd:element name="consultarUnitType">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarUnitTypeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema>
    	<xsd:import namespace="http://www.comcel.com.co/ConsultarUnitType/" schemaLocation="../Schemas/PS_ITEL_CONSULTAR_UNIT_TYPE.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="consultarUnitTypeRequest">
    <wsdl:part element="xsd1:Input_Parameters" name="Input_Parameters"/>
  </wsdl:message>
  <wsdl:message name="consultarUnitTypeResponse">
    <wsdl:part element="xsd1:WS_Result" name="WS_Result"/>
  </wsdl:message>
  <wsdl:portType name="consultarUnitType_PS">
    <wsdl:operation name="consultarUnitType">
      <wsdl:input message="tns:consultarUnitTypeRequest"/>
      <wsdl:output message="tns:consultarUnitTypeResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="consultarUnitType_PSSOAP" type="tns:consultarUnitType_PS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consultarUnitType">
      <soap:operation soapAction="http://www.comcel.com.co/consultarUnitType_PS/consultarUnitType"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="consultarUnitType_PS">
    <wsdl:port binding="tns:consultarUnitType_PSSOAP" name="consultarUnitType_PSSOAP">
      <soap:address location="http://www.comcel.com.co/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>