MCG/REFERENCIA/BUS/ITEL/Core/Resources/WSDLs/consultarCambiosDePlan_PS.wsdl

<wsdl:definitions name="consultarCambiosDePlan_PS" targetNamespace="http://www.comcel.com.co/consultarCambiosDePlan_PS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.comcel.com.co/consultarCambiosDePlan_PS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.comcel.com.co/ConsultarCambiosDePlan/" xmlns:xsd2="http://www.comcel.com.co/consultarCambiosDePlan/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.comcel.com.co/consultarCambiosDePlan_PS/">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema>
    	<xsd:import namespace="http://www.comcel.com.co/consultarCambiosDePlan/" schemaLocation="../Schemas/PS_ITEL_CONSULTAR_CAMBIOS_DE_PLAN.xsd">
    	</xsd:import>
    	<xsd:import namespace="http://www.comcel.com.co/consultarCambiosDePlan/" schemaLocation="../Schemas/PS_ITEL_CONSULTAR_CAMBIOS_DE_PLAN.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="bd_consultarCambiosDePlanRequest">
    <wsdl:part element="xsd2:Input_Parameters" name="Input_Parameters"/>
  </wsdl:message>
  <wsdl:message name="bd_consultarCambiosDePlanResponse">
    <wsdl:part element="xsd2:WS_Result" name="WS_Result"/>
  </wsdl:message>
  <wsdl:portType name="consultarCambiosDePlan_PS">
    <wsdl:operation name="bd_consultarCambiosDePlan">
      <wsdl:input message="tns:bd_consultarCambiosDePlanRequest"/>
      <wsdl:output message="tns:bd_consultarCambiosDePlanResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="consultarCambiosDePlan_PSSOAP" type="tns:consultarCambiosDePlan_PS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="bd_consultarCambiosDePlan">
      <soap:operation soapAction="http://www.comcel.com.co/consultarCambiosDePlan_PS/bd_consultarCambiosDePlan"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="consultarCambiosDePlan_PS">
    <wsdl:port binding="tns:consultarCambiosDePlan_PSSOAP" name="consultarCambiosDePlan_PSSOAP">
      <soap:address location="http://www.comcel.com.co/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>