MCG/REFERENCIA/BUS/ITEL/Core/Resources/WSDLs/eliminarMSISDNTblCtrl_PS.WSDL

<wsdl:definitions name="eliminarMSISDNTblCtrl_PS" targetNamespace="http://www.comcel.com.co/EliminarMSISDNTblCtrl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.comcel.com.co/EliminarMSISDNTblCtrl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.comcel.com.co/EliminarMSISDNTblCtrl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.comcel.com.co/eliminarMSISDNTblCtrl_PS/">
      <xsd:element name="eliminarMSISDNTblCtrl">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="eliminarMSISDNTblCtrlResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="eliminarMSISDNTblCtrlFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="eliminarMSISDNTblCtrlFault" type="xsd:string">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema>
    	<xsd:import namespace="http://www.comcel.com.co/EliminarMSISDNTblCtrl/" schemaLocation="../Schemas/PS_ITEL_ELIMINARMSISDNTBLCTRL.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="eliminarMSISDNTblCtrlRequest">
    <wsdl:part element="xsd1:Input_Parameters" name="Input_Parameters"/>
  </wsdl:message>
  <wsdl:message name="eliminarMSISDNTblCtrlResponse">
    <wsdl:part element="xsd1:WS_Result" name="WS_Result"/>
  </wsdl:message>
  <wsdl:message name="eliminarMSISDNTblCtrlFault">

  </wsdl:message>
  <wsdl:portType name="eliminarMSISDNTblCtrl_PS">
    <wsdl:operation name="eliminarMSISDNTblCtrl">
      <wsdl:input message="tns:eliminarMSISDNTblCtrlRequest"/>
      <wsdl:output message="tns:eliminarMSISDNTblCtrlResponse"/>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="eliminarMSISDNTblCtrl_PSSOAP" type="tns:eliminarMSISDNTblCtrl_PS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="eliminarMSISDNTblCtrl">
      <soap:operation soapAction="http://www.comcel.com.co/eliminarMSISDNTblCtrl_PS/eliminarMSISDNTblCtrl"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="eliminarMSISDNTblCtrl_PS">
    <wsdl:port binding="tns:eliminarMSISDNTblCtrl_PSSOAP" name="eliminarMSISDNTblCtrl_PSSOAP">
      <soap:address location="http://www.comcel.com.co/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>