MCG/REFERENCIA/BUS/ITEL/OCS/OLM/Resources/WSDLs/internal.ws.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:tns="http://webapps.online.ericsson.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="DSMNInternal" targetNamespace="http://webapps.online.ericsson.com">
    <types>
          <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" 
          elementFormDefault="qualified" 
          targetNamespace="http://webapps.online.ericsson.com">
              
              <complexType name="mapResult">
                  <sequence>
                      <element name="resultID" type="xsd:int" />
                      <element maxOccurs="unbounded" minOccurs="1" name="item" type="tns:mapItem" />  
                  </sequence>
              </complexType>
              
              <complexType name="mapResponse">

                   <sequence>
                      <element name="responseID" type="xsd:int" />
                      <element maxOccurs="unbounded" minOccurs="1" name="result" type="tns:mapResult" />
                  </sequence>
              </complexType>
 
               <complexType name="dsmnResponse">
                  <sequence>
                      <element maxOccurs="unbounded" minOccurs="1" name="response" type="tns:mapResponse" />
                  </sequence>

              </complexType>
                           
              <element name="dsmnResponse" type="tns:dsmnResponse" />

              <complexType name="mapItem">
                  <sequence>
                      <element name="key" type="xsd:string" />
                      <element name="value" type="xsd:string" />  
                  </sequence>
              </complexType>
                                          
              <complexType name="mapSubscriber">

                  <sequence>
                      <element name="subscriberID" type="xsd:int" />
                      <element maxOccurs="unbounded" minOccurs="1" name="item" type="tns:mapItem" />  
                  </sequence>
              </complexType>
                                           
              <complexType name="mapRequest">
                  <sequence>
                      <element name="requestID" type="xsd:int" />
                      <element name="operation" type="xsd:string" />

                      <element name="productName" type="xsd:string" />
                      <element maxOccurs="unbounded" minOccurs="1" name="subscriber" type="tns:mapSubscriber" />
                  </sequence>
              </complexType>
              
              <complexType name="dsmnRequest">
                  <sequence>
                      <element maxOccurs="unbounded" minOccurs="1" name="request" type="tns:mapRequest" />
                  </sequence>
              </complexType>

              
              <element name="dsmnRequest" type="tns:dsmnRequest" />

              <element name="ServiceFailedException" type="tns:ServiceFailedException" />
              <complexType name="ServiceFailedException">
                  <sequence>
                      <element name="faultInfo" type="xsd:string" />
                      <element name="message" type="xsd:string" />
                  </sequence>
              </complexType>

          </xsd:schema>
    </types>
    
    <message name="dsmnRequest">
            <part name="request" element="tns:dsmnRequest" />
    </message>
    
    <message name="dsmnResponse">
            <part name="response" element="tns:dsmnResponse" />
    </message>

    
    <message name="serviceFailedException">
            <part name="ServiceFailedException" element="tns:ServiceFailedException" />
    </message>
    
    <portType name="DSMNInternalPortType">
            <operation name="dsmnRequest">
                <input name="dsmnRequest" message="tns:dsmnRequest" />
                <output name="dsmnResponse" message="tns:dsmnResponse" />
                <fault name="serviceFailedException" message="tns:serviceFailedException" />
            </operation>

    </portType>
    
    <binding name="DSMNInternalBinding" type="tns:DSMNInternalPortType">
            <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
            <operation name="dsmnRequest">
                <soap:operation soapAction="" />
                <input>
                    <soap:body use="literal" />
                </input>
                <output>

                    <soap:body use="literal" />
                </output>
                <fault name="serviceFailedException">
                    <soap:fault name="serviceFailedException" use="literal" />
                </fault>
            </operation>
    </binding>
    
    <service name="DSMNInternalService">
            <port name="DSMNInternalPort" binding="tns:DSMNInternalBinding">

                <soap:address location="http://172.24.4.198:1110/internal/internal.ws" />
            </port>
    </service>
</definitions>