MCG/REFERENCIA/BUS/ITEL/Trama400/Resources/WSDLs/trama400_DB.wsdl

<wsdl:definitions name="trama400_DF_Trama400" targetNamespace="http://xmlns.oracle.com/trama400/trama400_DF_Trama400" xmlns:ns1="http://www.comcel.com.co/trama400Fact/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.oracle.com/trama400/trama400_DF_Trama400" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:java="http://schemas.xmlsoap.org/wsdl/java/" xmlns:format="http://schemas.xmlsoap.org/wsdl/formatbinding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rules="http://xmlns.oracle.com/bpel/rules" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"> 

    <wsdl:types> 
        <schema targetNamespace="http://xmlns.oracle.com/trama400/trama400_DF_Trama400" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bpelpm="http://xmlns.oracle.com/bpel"> 
            <include schemaLocation="../Schemas/DF_ITEL_TRAMA400_TYPES.xsd"/> 
        </schema> 
        <schema targetNamespace="http://xmlns.oracle.com/bpel/rules" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://xmlns.oracle.com/bpel/rules" xmlns:bpelpm="http://xmlns.oracle.com/bpel"> 
            <element name="int" type="xsd:int"/> 
            <element name="double" type="xsd:double"/> 
            <element name="string" type="xsd:string"/> 
            <element name="boolean" type="xsd:boolean"/> 
            <element name="byte" type="xsd:byte"/> 
            <element name="short" type="xsd:short"/> 
            <element name="long" type="xsd:long"/> 
            <element name="float" type="xsd:float"/> 
            <element name="integer" type="xsd:integer"/> 
            <element name="decimal" type="xsd:decimal"/> 
            <element name="dateTime" type="xsd:dateTime"/> 
            <element name="duration" type="xsd:duration"/> 
        </schema> 
        <schema targetNamespace="http://xmlns.oracle.com/trama400/trama400_DF_Trama400" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bpelpm="http://xmlns.oracle.com/bpel"> 
            <import namespace="http://www.comcel.com.co/trama400Fact/" schemaLocation="../Schemas/BR_ITEL_TRAMA400_FACT.xsd"/> 
            <import namespace="http://xmlns.oracle.com/bpel/rules"/> 
            <import namespace="http://xmlns.oracle.com/bpel"/> 
            <element name="callFunctionStateless"> 
                <complexType> 
                    <sequence> 
                        <element name="configURL" type="string" minOccurs="0" maxOccurs="1"/> 
                        <element name="bpelInstance" type="bpelpm:tBpelProcess" minOccurs="0" maxOccurs="1"/> 
                        <element name="parameterList" minOccurs="1" maxOccurs="1"> 
                            <complexType> 
                                <sequence> 
                                    <element ref="ns1:TRAMA"/> 
                                </sequence> 
                            </complexType> 
                        </element> 
                    </sequence> 
                    <attribute name="name" type="NCName" use="required"/> 
                </complexType> 
            </element> 
            <element name="callFunctionStatelessDecision"> 
                <complexType> 
                    <sequence> 
                        <element name="resultList" minOccurs="1" maxOccurs="1"> 
                            <complexType> 
                                <sequence> 
                                    <element ref="ns1:TRAMA"/> 
                                </sequence> 
                            </complexType> 
                        </element> 
                    </sequence> 
                </complexType> 
            </element> 
            <element name="callFunctionStateful"> 
                <complexType> 
                    <sequence> 
                        <element name="configURL" type="string" minOccurs="0" maxOccurs="1"/> 
                        <element name="bpelInstance" type="bpelpm:tBpelProcess" minOccurs="0" maxOccurs="1"/> 
                        <element name="parameterList" minOccurs="1" maxOccurs="1"> 
                            <complexType> 
                                <sequence> 
                                    <element ref="ns1:TRAMA"/> 
                                </sequence> 
                            </complexType> 
                        </element> 
                    </sequence> 
                    <attribute name="name" type="NCName" use="required"/> 
                </complexType> 
            </element> 
            <element name="callFunctionStatefulDecision"> 
                <complexType> 
                    <sequence> 
                        <element name="resultList" minOccurs="1" maxOccurs="1"> 
                            <complexType> 
                                <sequence> 
                                    <element ref="ns1:TRAMA"/> 
                                </sequence> 
                            </complexType> 
                        </element> 
                    </sequence> 
                </complexType> 
            </element> 
        </schema> 
        <xsd:schema> 
            <xsd:import namespace="http://www.comcel.com.co/trama400Fact/" schemaLocation="../Schemas/BR_ITEL_TRAMA400_FACT.xsd"/> 
        </xsd:schema> 
    </wsdl:types> 
    <wsdl:message name="callFunctionStatelessMessage"> 
        <wsdl:part name="payload" element="tns:callFunctionStateless"/> 
    </wsdl:message> 
    <wsdl:message name="callFunctionStatelessDecisionMessage"> 
        <wsdl:part name="payload" element="tns:callFunctionStatelessDecision"/> 
    </wsdl:message> 
    <wsdl:message name="decisionServiceError"> 
        <wsdl:part name="payload" element="tns:errorInfo"/> 
    </wsdl:message> 
    <wsdl:message name="callFunctionStatefulMessage"> 
        <wsdl:part name="payload" element="tns:callFunctionStateful"/> 
    </wsdl:message> 
    <wsdl:message name="callFunctionStatefulDecisionMessage"> 
        <wsdl:part name="payload" element="tns:callFunctionStatefulDecision"/> 
    </wsdl:message> 
    <wsdl:portType name="IDecisionService"> 
        <wsdl:operation name="callFunctionStateless"> 
            <wsdl:input name="callFunctionStatelessInput" message="tns:callFunctionStatelessMessage"/> 
            <wsdl:output name="callFunctionStatelessOutput" message="tns:callFunctionStatelessDecisionMessage"/> 
            <wsdl:fault name="operationErroredFault" message="tns:decisionServiceError"/> 
        </wsdl:operation> 
        <wsdl:operation name="callFunctionStateful"> 
            <wsdl:input name="callFunctionStatefulInput" message="tns:callFunctionStatefulMessage"/> 
            <wsdl:output name="callFunctionStatefulOutput" message="tns:callFunctionStatefulDecisionMessage"/> 
            <wsdl:fault name="operationErroredFault" message="tns:decisionServiceError"/> 
        </wsdl:operation> 
    </wsdl:portType> 
    <wsdl:binding name="IDecisionServiceDirectBinding1.2" type="tns:IDecisionService"> 
        <soap12:binding transport="http://xmlns.oracle.com/soa/direct"/> 
        <wsdl:operation name="callFunctionStateless"> 
            <soap12:operation style="document" soapAction="callFunctionStateless" soapActionRequired="false"/> 
            <wsdl:input name="callFunctionStatelessInput"> 
                <soap12:body use="literal" namespace="http://xmlns.oracle.com/trama400/trama400_DF_Trama400"/> 
            </wsdl:input> 
            <wsdl:output name="callFunctionStatelessOutput"> 
                <soap12:body use="literal" namespace="http://xmlns.oracle.com/trama400/trama400_DF_Trama400"/> 
            </wsdl:output> 
            <wsdl:fault name="operationErroredFault"> 
                <soap12:fault name="operationErroredFault" use="literal" encodingStyle=""/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="callFunctionStateful"> 
            <soap12:operation style="document" soapAction="callFunctionStateful" soapActionRequired="false"/> 
            <wsdl:input name="callFunctionStatefulInput"> 
                <soap12:body use="literal" namespace="http://xmlns.oracle.com/trama400/trama400_DF_Trama400"/> 
            </wsdl:input> 
            <wsdl:output name="callFunctionStatefulOutput"> 
                <soap12:body use="literal" namespace="http://xmlns.oracle.com/trama400/trama400_DF_Trama400"/> 
            </wsdl:output> 
            <wsdl:fault name="operationErroredFault"> 
                <soap12:fault name="operationErroredFault" use="literal" encodingStyle=""/> 
            </wsdl:fault> 
        </wsdl:operation> 
    </wsdl:binding> 
    <wsdl:binding name="IDecisionServiceDirectBinding1.1" type="tns:IDecisionService"> 
        <soap:binding transport="http://xmlns.oracle.com/soa/direct"/> 
        <wsdl:operation name="callFunctionStateless"> 
            <soap:operation style="document" soapAction="callFunctionStateless"/> 
            <wsdl:input name="callFunctionStatelessInput"> 
                <soap:body use="literal" namespace="http://xmlns.oracle.com/trama400/trama400_DF_Trama400"/> 
            </wsdl:input> 
            <wsdl:output name="callFunctionStatelessOutput"> 
                <soap:body use="literal" namespace="http://xmlns.oracle.com/trama400/trama400_DF_Trama400"/> 
            </wsdl:output> 
            <wsdl:fault name="operationErroredFault"> 
                <soap:fault name="operationErroredFault" use="literal" encodingStyle=""/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="callFunctionStateful"> 
            <soap:operation style="document" soapAction="callFunctionStateful"/> 
            <wsdl:input name="callFunctionStatefulInput"> 
                <soap:body use="literal" namespace="http://xmlns.oracle.com/trama400/trama400_DF_Trama400"/> 
            </wsdl:input> 
            <wsdl:output name="callFunctionStatefulOutput"> 
                <soap:body use="literal" namespace="http://xmlns.oracle.com/trama400/trama400_DF_Trama400"/> 
            </wsdl:output> 
            <wsdl:fault name="operationErroredFault"> 
                <soap:fault name="operationErroredFault" use="literal" encodingStyle=""/> 
            </wsdl:fault> 
        </wsdl:operation> 
    </wsdl:binding> 
    <wsdl:service name="DS_Trama400"> 
        <wsdl:port name="DS_Trama400DirectBindingPort11" binding="tns:IDecisionServiceDirectBinding1.1"> 
            <soap:address location="t3://lnxsoa02:8001/ITEL/Trama400!1.0/DS_Trama400"/> 
        </wsdl:port> 
        <wsdl:port name="DS_Trama400DirectBindingPort12" binding="tns:IDecisionServiceDirectBinding1.2"> 
            <soap12:address location="t3://lnxsoa02:8001/ITEL/Trama400!1.0/DS_Trama400"/> 
        </wsdl:port> 
    </wsdl:service> 
</wsdl:definitions>